mixin newsPage()
    +b.newsPage
        +e.half_1
            +e.section_1
                +e.H1.page-title= newsPage.pageTitle
                +b.breadcrumbs_news
                    +e.A.link(href="/")= newsPage.breadcrumbs.crumb1 
                    |  - 
                    +e.A.link(href="/pages/news/news.html")= newsPage.breadcrumbs.crumb2
                +b.inner-1
                    +e.A.title(href=mainContent.news.section1.link)= mainContent.news.section1.title
                    +e.A.read-more(href=mainContent.news.section1.link)= mainContent.news.section1.button
            +e.section_2
                +e.H1.page-title_grey= newsPage.pageTitle
                +e.inner_2
                    each item in newsPage.news.section2
                        +e.text-block
                            +e.A.title(href="/pages/news-full/news-full_page.html")= item.title
                            +e.P.text= item.text
        +e.half_2
            +e.section_3
                +e.inner_3
                    each item in newsPage.news.section3
                        +e.text-block
                            +e.A.title(href="/pages/news-full/news-full_page.html")= item.title
                            +e.P.text= item.text
                +e.pagination
                    +e.arrow_left
                    +e.SPAN.number 1
                    +e.SPAN.number 2
                    +e.SPAN.number 3
                    +e.arrow_right
            +e.section_4
                +e.inner_4
                    each item in newsPage.news.section4
                        +e.text-block
                            +e.A.title(href="/pages/news-full/news-full_page.html")= item.title
                            +e.P.text= item.text