/* news-page*/
.newsPage
    section-sizing()
    background-color #FCFCFC
    @media $IpadProPortrait
        flex-wrap wrap
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
        @media $IpadProPortrait
            width 100%
            height 50vh
    &__section
        width 50%
        height 100%
        display flex
        flex-direction column
        justify-content center
        align-items center
        position relative
        &_1
            background-image url('../../assets/img/main-news_section1.jpg')
            background-size cover
            background-repeat no-repeat
            background-position center
            justify-content flex-end
        &_1, &_2, &_3
            border-right 1px solid rgba(30, 30, 30, 0.4)
        @media $IpadLandscape
            &_1
                justify-content flex-end
    &__page-title
        margin 5% 0 1% 0
        font-family $alt-font
        font-weight 700
        font-size 24px
        line-height 20px
        position absolute
        top 1vh
        left 10%
        color $hover-color
        &_grey
            font-size 30px
            color #696969
            top 3vh
    &__inner
        width 80%
        height 80vh
        display flex
        flex-direction column
        justify-content space-around
        @media $IpadLandscape
            height 90vh
        @media $IpadProPortrait
            justify-content space-around
            height 40vh
        
    &__text-block
        @media $laptop
            &:nth-child(n+3)
                display none
        @media $IpadLandscape
            &:nth-child(n+3)
                display none
        @media $IpadProPortrait
            &:nth-child(n+3)
                display none
        &_1
           margin-bottom 2vh
           @media $IpadProPortrait
               &:nth-child(2)
                margin-bottom 0
                margin-top 7vh
    &__title
        font-family $alt-font
        font-weight 700
        font-size 30px
        line-height 30px
        color $base-color
        position relative
        &:hover
            color $hover-color
            text-decoration underline
        @media $IpadLandscape
            font-size 24px
        &::before
            content ""
            position absolute
            height 1.2em
            width 3px
            top -10%
            left -18.5%
            background-color $hover-color
            @media $largeScreen
                left -16%
            @media $laptop
                left -13%
            @media $IpadProLandscape
                left -13%
            @media $IpadLandscape
                top 0
                left -48%
            @media $IpadProPortrait
                left -19%
            ^[-1]:hover::before
                width 11%
                transition 0.5s
    &__text
        font-family $alt-font
        font-size 18px
        line-height 30px
        color $base-color
        @media $IpadLandscape
            font-size 16px
    &__pagination
        position absolute
        bottom 3vh
        left 25%
        display flex
        width 50%
        justify-content space-between
        align-items center
        @media $IpadLandscape
            width 80%
            left 10%
        @media $IpadProPortrait
            left 75%
    &__arrow
        width 27px
        height 25px
        background-image url("../../assets/img/page-arrow.svg")
        background-size cover
        cursor pointer
        &:hover
            background-image url("../../assets/img/page-arrow-hover.svg")
        &_right
            transform rotate(180deg)
            &:hover
                background-image url("../../assets/img/page-arrow-hover.svg")
    &__number
        font-family $alt-font
        font-size 21px
        color $base-color
        cursor pointer
        &:hover
            color $hover-color
            transition 0.5s
.breadcrumbs
    &_news
        position absolute
        top 6vh
        left 0