- 
    var aboutPage = {
        pageTitle: "About us",
        breadcrumbs: {
            crumb1: "Home",
            crumb2: "About us"
        },
        section3: {
            title: "DDC Technologies",
            text: "designs and manufactures high performance laser systems for medical, scientific and industrial applications.",
            textFull: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser."
        },
        section4: [
            {
                title: "DDC Technologies",
                text: "designs and manufactures high performance laser systems for medical, scientific and industrial applications."
            },
            {
                title: "Our partner",
                text: "to our customers innovative laser design solutions, high quality laser optics and unique software tools for solid state laser performance modeling."
            }
        ]
    }