- 
    var contact = {
        pageTitle: "Contact us",
        breadcrumbs: {
            crumb1: "Home",
            crumb2: "Contact us"
        },
        section1: {
            textBlocks: [
                {
                    span: "<span>DDC Technologies</span>",
                    text: " has its headquarters in close proximity to New York City, in Nassau County on the South Shore of Long Island. It is conveniently located within just 40 min. train ride from Midtown Manhattan and close to JFK International Airport."
                },
                {
                    title: "Phone:",
                    text: "USA Toll Free:(866) FIND LASER <br/>Main Phone:(516) 594-1533 <br/>Customer Service:(516) 770-0441"
                },
                {
                    title: "Fax:",
                    text: "(516) 764-4412"
                },
                {
                    title: "Email:",
                    text: "sales@ddctech.com"
                }
            ],
            button: "I want to get consult",
        },
        section4: {
            textBlocks: [
                {
                    title: "Corporate Headquarters:",
                    text: "DDC Technologies, Inc. <br/>311 Woods Avenue, <br/>Oceanside, NY 11572",
                    button: "View on map"
                },
                {
                    title: "International Distributors:",
                    text: "<b>Laser Repairs Services Pty Ltd.</b> <br/>Suite 404, 35 Spring Street, <br/>Bondi Junction, NSW 206 <br/>Australia <br/>Tel.: +61 424 551512 <br/>E-mail: sasha88888@hotmail.com",
                    button: "View on map"
                },
                {
                    title: "International Distributors:",
                    text: "<b>Lasertech Medikal Dis Ticaret Ltd. Sti,</b> <br/>Egitim Mahallesi Unal sok, 2/14 Kadikoy, <br/>34722 Istanbul <br/>Turkey <br/>Tel.: +90 532 743 6765 or <br/> +90 216 331 3030 <br/>Fax: +90 216 331 3029 <br/>E-mail: chingiz@lasertechmedical.com",
                    button: "View on map"
                },
                
                {
                    title: "International Distributors:",
                    text: "<b>Me.S.Ser., Ltd.,</b> <br/>28th October St. 81, <br/>54642 Thessaloniki<br/>Greece <br/>Tel.: +30 2310817700 or <br/> +30 2310859454 <br/>E-mail: meser@hol.gr",
                    button: "View on map"
                },
                {
                    title: "International Distributors:",
                    text: "<b>Medical Laser Group,</b> <br/>19 Ilia Chavchavadze Ave.,<br/>0179 Tbilisi <br/>Georgia <br/>Tel.: +995 77532222 <br/>E-mail: m.lasergroup@gmail.com",
                    button: "View on map"
                },
                {
                    title: "International Distributors:",
                    text: "<b>Extreme Trading DWC LLC.,</b> <br/>Business Center City, Dubai Aviation City,<br/>Dubai, UAE<br/>MENA & GCC Sales: Mr.Mohamed Kamal<br/>Tel.: +971 554504200 or <br/> +966 545950005<br/>E-mail: Commercial@extreme-Dwc.com",
                    button: "View on map"
                },
                {
                    title: "International Distributors:",
                    text: "<b>Lasertech Medikal Dis Ticaret Ltd. Sti,</b> <br/>Egitim Mahallesi Unal sok, 2/14 Kadikoy, <br/>34722 Istanbul <br/>Turkey <br/>Tel.: +90 532 743 6765 or <br/> +90 216 331 3030 <br/>Fax: +90 216 331 3029 <br/>E-mail: chingiz@lasertechmedical.com",
                    button: "View on map"
                }
            ]
        }    
    }