$base-color = #606060
$base-bold-color = #171717
$hover-color = #ED212E
$base-font = "Segoe UI", sans-serif
$base-font_semibold = "Segoe UI Semibold", sans-serif
$base-font_bold = "Segoe UI Bold", sans-serif
$alt-font = "Arial", sans-serif


$largeScreen = '(max-width: 1680px) and (min-width: 1367px) and (min-height: 671px) and (max-height: 950px) and (orientation: landscape)'
$laptop = '(max-width: 1366px) and (min-width: 1025px) and (min-height: 500px) and (max-height: 670px) and (orientation: landscape)'

$IpadProLandscape = '(max-width: 1366px) and (min-width: 1025px) and (min-height: 769px) and (max-height: 1024px) and (orientation: landscape)'
$IpadProPortrait = '(max-width: 1024px) and (min-width: 769px) and (min-height: 1025px) and (max-height: 1366px) and (orientation: portrait)'
    
$IpadLandscape = '(max-width: 1024px) and (min-width: 737px) and (min-height: 415px) and (max-height: 768px) and (orientation: landscape)'
$IpadPortrait = '(max-width: 768px) and (min-width: 415px) and (min-height: 737px) and (max-height: 1024px) and (orientation: portrait)'
    
$IphoneLandscape = '(max-width: 736px) and (min-width: 569px) and (min-height: 320px) and (max-height: 414px) and (orientation: landscape)'
$IphonePortrait = '(max-width: 414px) and (min-width: 320px) and (min-height: 569px) and (max-height: 736px) and (orientation: portrait)'

section-sizing()
    width 100%
    margin auto
    height 100vh
    display flex
    justify-content center
    align-items center