include ../globals/mainData
include ../globals/aboutData
include ../globals/solutionData
include ../globals/newsData
include ../globals/newsFullData
include ../globals/testimonialData
include ../globals/downloadsData
include ../globals/contactData
include ../globals/tabsData
include ../globals/opticsData
include ../globals/softwareData
include ../globals/productsData
include ../globals/FAQData