- 
    var dowloadsPage = {
        pageTitle: "Downloads",
        breadcrumbs: {
            crumb1: "Home",
            crumb2: "Downloads"
        },
        articles: {
            section1: [
                {
                    title: "Optichamber 1 Installation Guide",
                    text: "Optichamber can be used for education in optics and lasers",
                    button: "Download"
                },
                {
                    title: "Optichamber User's Guide",
                    text: "Demo and User Guide allow evaluation and understanding of the OptiChamber.",
                    button: "Download"
                },
                {
                    title: "Optichamber 2 Demo",
                    text: "Download demo files, open them in ONE directory and start Setup. (MS Internet Explorer users may click the right button of the mouse and choose \"Save target as\")",
                    button: "Download"
                }
            ],
            section2: [
                {
                    title: "Optichamber 2 User's Guide",
                    text: "Demo and User Guide allow evaluation and understanding of the OptiChamber.",
                    button: "Download"
                },
                {
                    title: "LasKin Demo",
                    text: "allows simple, accurate and reliable simulations of solid state laser performance and serves as an efficient laser design tool.",
                    button: "Download"
                },
                {
                    title: "LasKin User's Guide",
                    text: "The basic information on laser physics is imbedded into the program, making it simple for users even without extensive design expertise in the area of solid state lasers.",
                    button: "Download"
                }
            ]
        }
    }