- 
	var faq = {
		pageTitle: "FAQ",
		breadcrumbs: {
			crumb1: "Home",
			crumb2: "FAQ"
		},
		section1: {
			number1: "1",
			question1: "What is Soprano ICE Platinum?",
			
			number2: "2",
			question2: "How is Soprano ICE Platinum  different from other Soprano hair  removal systems?",
			
			number3: "3",
			question3: "Is hair removal with Soprano ICE Platinum safe?",
			
			number4: "4",
			question4: "How is Soprano ICE Platinum  different from other Soprano hair  removal systems?"
			},
			
		section2: {
			answer1: "Answer1. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser.",
			answer2: "Answer2. Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser.",
			answer3: "Answer3. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser.",
			answer4: "Answer4. Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser.",
		},
		section3: {
			number5: "5",
			question5: "What is Soprano ICE Platinum?",
			
			number6: "6",
			question6: "How is Soprano ICE Platinum  different from other Soprano hair  removal systems?",
			
			number7: "7",
			question7: "Is hair removal with Soprano ICE Platinum safe?",
			
			number8: "8",
			question8: "How is Soprano ICE Platinum  different from other Soprano hair  removal systems?"
		},
		section4: {
			button: "Your question",
			answer5: "Answer5. Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser.",
			answer6: "Answer6. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser.",
			answer7: "Answer7. on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser.",
			answer8: "Answer8. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser."
		}
	}