- 
    var logoName = "DDC TECHNOLOGIES INC.";
    var copyright = "DDC TECHNOLOGIES INC. - 2018";
    //- header
    var headerMenuItems = [
        {
            title: 'About us',
            url: '/pages/about/about.html'
        },
        {
            title: 'Our products',
            url: '/pages/our-product/AL-40_Alexandrite-Laser-Hair-Removal-Laser.html',
            children: [
                {
                    titleModel: 'AL-40',
                    titleName: 'Alexandrite Laser Hair Removal Laser',
                    url: '/pages/our-product/AL-40_Alexandrite-Laser-Hair-Removal-Laser.html'
                },
                {
                    titleModel: 'EPY-50 Nd:YAG',
                    titleName: 'Hair Removal Lazer',
                    url: '/pages/our-product/EPY-50_NdYAG_Hair-Removal-Lazer.html'
                },
                {
                    titleModel: 'DDC Polylase LP',
                    titleName: '- two state-of-arts lasers',
                    url: '/pages/our-product/DDC_Polylase_LP.html'
                }
            ]
        },
        {
            title: 'Our software',
            url: '/pages/our-solution/our-solution.html'
        },
        {
            title: 'Testimonials',
            url: '/pages/testimonials/testimonials.html'
        },
        {
            title: 'News',
            url: '/pages/news/news.html'
        },
        {
            title: 'Contact us',
            url: '/pages/contact/contact.html'
        }
    ];
    
    //- footer
    
    var footer = {
        footerMenuItems: {
                title1: 'About us',
                url1: '/pages/about/about.html',
                title2: 'Testimonials',
                url2: '/pages/testimonials/testimonials.html',
                title3: 'News',
                url3: '/pages/news/news.html',
                title4: 'Contact us',
                url4: '/pages/contact/contact.html',
                title5: 'Downloads',
                url5: '/pages/downloads/downloads.html',
                title6: 'FAQ',
                url6: '/pages/FAQ/FAQ.html'
        },
        footerTitles: {
            lasers: "Medical and Aesthetic Lasers",
            software: "Laser Design Software",
            optics: "Laser Products and Optics"
        },
        footerProducts: {
            lazers: [
                {
                    name: "AL-40 Alexandrite Laser Hair Removal Laser",
                    url: "/pages/our-product/AL-40_Alexandrite-Laser-Hair-Removal-Laser.html"
                },
                {
                    name: "EPY-50 Nd:YAG Hair Removal Laser",
                    url: "/pages/our-product/EPY-50_NdYAG_Hair-Removal-Lazer.html"
                },
                {
                    name: "DDC Polylase LP Two state-of-the-art lasers in one complete package!",
                    url: "/pages/our-product/DDC_Polylase_LP.html"
                }
            ],
            software: [
                {
                    name: "Optichamber",
                    url: "/pages/software/optichamber.html"
                },
                {
                    name: "Optichamber 2",
                    url: "/pages/software/optichamber_2.html"
                },
                {
                    name: "LasKin",
                    url: "/pages/software/laskin.html"
                }
            ],
            optics: [
                {
                    name: "Laser Optics",
                    url: "/pages/laserOptics/laserOptics.html"
                },
                {
                    name: "Stingray",
                    url: "/pages/laserOptics/stringray.html"
                }
            ]
        }
    }
    
    var mainContent = {
        banner: {
            section1: "Medical and Aesthetic Lasers",
            url1: "/pages/our-product/AL-40_Alexandrite-Laser-Hair-Removal-Laser.html",
            section2: "Lazer Design Software",
            url2: "/pages/software/optichamber.html",
            section3: "Lazer Products and Optics",
            url3: "/pages/laserOptics/laserOptics.html",
            section4: "Installation Guide, User's Guide and Demo",
            url4: "/pages/downloads/downloads.html"
        },
        about: {
            section2: [
                {
                    title: "DDC Technologies",
                    text: "designs and manufactures high performance laser systems for medical, scientific and industrial applications."
                },
                {
                    title: "Our partner",
                    text: "to our customers innovative laser design solutions, high quality laser optics and unique software tools for solid state laser performance modeling."
                },

            ],
            section4: {
                title: "We offer",
                text: "to our customers innovative laser design solutions, high quality laser optics and unique software tools for solid state laser performance modeling.",
                titleGrey: "Our products are used for",
                caption1: "Scientific applications",
                caption2: "Industrial applications",
                caption3: "Medical applications"
            }
        },
        solution: {
            list: [
                {
                    listItem: "Fast, Reliable, Powerful"
                },
                {
                    listItem: "Compact Footprint -Easy to transport"
                },
                {
                    listItem: "On demand use - No warm-up required"
                },
                {
                    listItem: "Say goodbye to Costly Consumables"
                },
                {
                    listItem: "Motorized Handpiece with Rapid Spot Size changes"
                },
                {
                    listItem: "Versatile with Multiple FDA Cleared Applications"
                },
                {
                    listItem: "Low Maintenance and Low Cost of Ownership"
                }
            ],
            lazers: {
                model1: 'AL-40',
                name1: 'Alexandrite Laser Hair Removal Laser',
                description1: 'Discover Alexandrite laser as the most efficient tool for hair removal for light skin patients.',
                url1: '/pages/our-product/AL-40_Alexandrite-Laser-Hair-Removal-Laser.html',
                
                model2: 'EPY-50 Nd:YAG',
                name2: 'Hair Removal Lazer',
                description2: 'Discover Alexandrite laser as the most efficient tool for hair removal for light skin patients.',
                url2: '/pages/our-product/EPY-50_NdYAG_Hair-Removal-Lazer.html',
                
                model3: 'DDC Polylase LP',
                name3: 'Two state-of-arts lasers in one complete package!',
                description3: 'Discover Alexandrite laser as the most efficient tool for hair removal for light skin patients.',
                url3: '/pages/our-product/DDC_Polylase_LP.html'
            }
        },
        action: {
            title: "Become our client now",
            button: "I want to get consult"
        },
        news: {
            section1: {
                title: "Your Key To Success: DDC Technologies",
                link: "/pages/news/news.html",
                button: "Read more"
            },
            section2: {
                title: "News",
                textBlocks: [
                    {
                        title: "Your Key To Success: DDC Technologies",
                        text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser..."
                    },
                    {
                        title: "Your Key To Success: DDC Technologies",
                        text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser..."
                    },
                    {
                        title: "Your Key To Success: DDC Technologies",
                        text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser..."
                    }
                ],
                button: "All news"
            },
            slider: [
                {
                    src: "../../assets/img/testimonial1.jpg"
                },
                {
                    src: "../../assets/img/testimonial2.jpg"
                },
                {
                    src: "../../assets/img/testimonial3.jpg"
                }
            ],
            section4: {
                title: "Testimonials",
                content: [
                    {
                        title: "Bodyline",
                        author: "Michael H. Gold, MD, FAAD",
                        rank: "Board Certified Dermatologist, Nashville, TN",
                        text: "“ClearLift is about using Q-switched laser technology in a different manner, delivering lower energies in multiple sessions for results without discomfort or downtime.” “The great thing about Harmony XL is that it’s designed to be customized to your skin›s condition”. “iTED and IMPACT technology solves the challenges of trans-epidermal delivery by applying reverse pressure within the micro-channels, overcoming the blockage of intra-cellular fluid and forcing the active agents through. It is among the most important breakthroughs in aesthetic technology.”"
                    },
                    {
                        title: "Bodyline",
                        author: "Michael H. Gold, MD, FAAD",
                        rank: "Board Certified Dermatologist, Nashville, TN",
                        text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser..."
                    },
                    {
                        title: "Bodyline",
                        author: "Michael H. Gold, MD, FAAD",
                        rank: "Board Certified Dermatologist, Nashville, TN",
                        text: "“The great thing about Harmony XL is that it’s designed to be customized to your skin›s condition”. “iTED and IMPACT technology solves the challenges of trans-epidermal delivery by applying reverse pressure within the micro-channels, overcoming the blockage of intra-cellular fluid and forcing the active agents through. It is among the most important breakthroughs in aesthetic technology.”"
                    }
                ]
            }
        },
        seo: {
            text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser.Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser.Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser.Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser.Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser.Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser.Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser.Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser.Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser."
        }
    }
    