- 
    var newsFull = {
        pageTitle: "Dubai Derma 2017",
        breadcrumbs: {
            crumb1: "Home",
            crumb2: "News",
            crumb3: "Dubai Derma 2017"
        },
        section3: {
            title: "Dubai Derma 2017",
            text: "designs and manufactures high performance laser systems for medical, scientific and industrial applications.",
            textFull: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser. Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai World Dermatology and Laser... Conference & Exhibition is the pioneer and largest scientific conference with the widest multinational exhibition in the Middle East, North Africa and South Asia dedicated to dermatology, aesthetics and laser."
        },
        
        section4: {
            title: "Other news",
            news: [
                {
                    title: "Dubai Derma 2017",
                    text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai"
                },
                {
                    title: "Dubai Derma 2017",
                    text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai"
                },
                {
                    title: "Dubai Derma 2017",
                    text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai"
                }
            ]
        }
    }