- 
    var newsPage = {
        pageTitle: "News",
        breadcrumbs: {
            crumb1: "Home",
            crumb2: "News"
        },
        news: {
            section2: [
                {
                   title: "Dubai Derma 2017" ,
                   text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai"
                },
                {
                   title: "Dubai Derma 2017" ,
                   text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai"
                },
                {
                   title: "Dubai Derma 2017" ,
                   text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai"
                }
            ],
            section3: [
                {
                   title: "Dubai Derma 2017" ,
                   text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai"
                },
                {
                   title: "Dubai Derma 2017" ,
                   text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai"
                },
                {
                   title: "Dubai Derma 2017" ,
                   text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai"
                }
            ],
            section4: [
                {
                   title: "Dubai Derma 2017" ,
                   text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai"
                },
                {
                   title: "Dubai Derma 2017" ,
                   text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai"
                },
                {
                   title: "Dubai Derma 2017" ,
                   text: "Set to take place on 18-20 March 2019 at the Dubai International Convention and Exhibition Centre under the motto “Skin Health is our Concern”, the Dubai"
                }
            ]
        }
    }