- 
    var optics = {
        half1: {
            slider: [
                {
                    src: "../../assets/img/lazerOptics_1.jpg"
                },
                {
                    src: "../../assets/img/lazerOptics_1.jpg"
                },
                {
                    src: "../../assets/img/lazerOptics_1.jpg"
                }
            ]
        },
        section3: {
            title: "Lazer Optics",
            description: "Now it distributes high quality laser optics for high average power and high peak power visible, IR and UV lasers and laser systems.",
            list: {
                item1: "Elements",
                item2: "Materials",
                item3: "Coatings",
                item4: "Design of Optical Elements and Systems"
            }
        },
        section4: {
            title: "The company has verified best manufactures of laser optics for it's own applications.",
            tab1: {
                list: [
                    {
                        link: "Mirror substrates and windows:",
                        text: "Diameter from 5 to 250 mm; Wedge tolerance down to 5 arc. sec."
                    },
                    {
                        link: "Lenses:",
                        text: "Diameter from 2 mm to 150 mm"
                    },
                    {
                        link: "Prisms:",
                        text: "Penta, Dove, Amici etc, Wedge tolerance down to 5 arc. sec."
                    },
                    {
                        link: "Polarizers and waveplates:",
                        text: "Multiple and zero order waveplates; customized waveplates; various polarizing components"
                    }
                ]
            },
            tab2: {
                list: [
                    {
                        text: "Optical glass: BK-7, BaK2, BaK4, LaSFN9, etc."
                    },
                    {
                        text: "Fused Silica: Suprasil, Herasil, etc."
                    },
                    {
                        text: "Crystals: Ge, Si, ZnSe, CaF2, BaF2, LiF, NaCl, KBr, Sapphire, Crystalline Quarts"
                    }
                ]
            },
            tab3: {
                list: [
                    {
                        text: "Types: AR, HR, Output Coupler, Beam splitter, Dichroic, Broad Band, Dual Wavelength, etc."
                    },
                    {
                        text: "Laser Durability: 0.5 - 1 GW/cm2 @ 20 nsec depending on substrate and coating type"
                    }
                ]
            },
            tab4: {
                list: [
                    {
                        text: "Expertize in design of optical elements and systems according to customer's specifications"
                    },
                    {
                        text: "Telescopes, objectives, relays, eyepieces, light systems, etc."
                    }
                ]
            }
        }
    }
    
    var stringray = {
        half1: {
            slider: [
                {
                    src: "../../assets/img/lazerOptics_1.jpg"
                },
                {
                    src: "../../assets/img/lazerOptics_1.jpg"
                },
                {
                    src: "../../assets/img/lazerOptics_1.jpg"
                }
            ]
        },
        section3: {
            title: "Stringray",
            description: "Now it distributes high quality laser optics for high average power and high peak power visible, IR and UV lasers and laser systems.",
            list: {
                item1: "Elements",
                item2: "Materials",
                item3: "Coatings",
                item4: "Design of Optical Elements and Systems"
            }
        },
        section4: {
            title: "The company has verified best manufactures of Stringray for it's own applications.",
            tab1: {
                list: [
                    {
                        link: "Mirror substrates and windows:",
                        text: "Diameter from 5 to 250 mm; Wedge tolerance down to 5 arc. sec."
                    },
                    {
                        link: "Lenses:",
                        text: "Diameter from 2 mm to 150 mm"
                    },
                    {
                        link: "Prisms:",
                        text: "Penta, Dove, Amici etc, Wedge tolerance down to 5 arc. sec."
                    },
                    {
                        link: "Polarizers and waveplates:",
                        text: "Multiple and zero order waveplates; customized waveplates; various polarizing components"
                    }
                ]
            },
            tab2: {
                list: [
                    {
                        link: "Material 1",
                        text: "Diameter from 5 to 250 mm; Wedge tolerance down to 5 arc. sec."
                    },
                    {
                        link: "Material 2",
                        text: "Diameter from 2 mm to 150 mm"
                    },
                    {
                        link: "Material 3",
                        text: "Penta, Dove, Amici etc, Wedge tolerance down to 5 arc. sec."
                    },
                    {
                        link: "Material 4",
                        text: "Multiple and zero order waveplates; customized waveplates; various polarizing components"
                    }
                ]
            },
            tab3: {
                list: [
                    {
                        link: "Coating 1",
                        text: "Diameter from 5 to 250 mm; Wedge tolerance down to 5 arc. sec."
                    },
                    {
                        link: "Coating 2",
                        text: "Diameter from 2 mm to 150 mm"
                    },
                    {
                        link: "Coating 3",
                        text: "Penta, Dove, Amici etc, Wedge tolerance down to 5 arc. sec."
                    },
                    {
                        link: "Coating 4",
                        text: "Multiple and zero order waveplates; customized waveplates; various polarizing components"
                    }
                ]
            },
            tab4: {
                list: [
                    {
                        link: "Design 1",
                        text: "Diameter from 5 to 250 mm; Wedge tolerance down to 5 arc. sec."
                    },
                    {
                        link: "Design 2",
                        text: "Diameter from 2 mm to 150 mm"
                    },
                    {
                        link: "Design 3",
                        text: "Penta, Dove, Amici etc, Wedge tolerance down to 5 arc. sec."
                    },
                    {
                        link: "Design 4",
                        text: "Multiple and zero order waveplates; customized waveplates; various polarizing components"
                    }
                ]
            }
        }
    }