- 
    var lazer1 = {
        half1: {
            slider: [
                {
                    src: "../../assets/img/lazer1.jpg"
                },
                {
                    src: "../../assets/img/lazer1.jpg"
                },
                {
                    src: "../../assets/img/lazer1.jpg"
                }
            ]
        },
        section3: {
            title: {
                model: "AL-40 Alexandrite ",
                name: "Laser Hair Removal Laser"
            },
            list: {
                link1: "Overview",
                link2: "More Info",
                link3: "Hair Removal Facts"
            },
            downloads: [
                {
                    name: "Optichamber 1</br> Installation Guide",
                    button: "Download",
                    url: "#"
                },
                {
                    name: "Brochure",
                    button: "Download",
                    url: "#"
                },
                {
                    name: "How it work",
                    button: "Watch Video",
                    url: "#"
                }
            ]
        },
        section4: {
            tab1: {
                text1: "Discover Alexandrite laser as the most efficient tool for hair removal for light skin patients. Its 755 nm output allows achieving unmatched selective action on melanine in follicles with minimum damage to surrounding skin. In fact, Alexandrite is the only laser proved to achieve permanent hair reduction in most patients with light skin types after a reasonable amount of treatment sessions. Yet, among all available Alexandrite lasers, AL-40 is an outstanding one:",
                list: [
                    "Given the Alexandrite wavelength's high absorption by melanin, the AL-40 provides long lasting results even after the first procedure, with a high percentage of permanent hair reduction after each consecutive treatment.",
                    "Wide selection of operating parameters, including broad range of available pulse durations give AL-40 the advantage to remove hair more safely, gently and effectively than competitive systems",
                    "High fluences available at large spot sizes at high pulse repetition rates result in faster treatment sessions-for greater client turnaround in your clinic.",
                    "Compact size, low maintenance and few consumables = ease of use and low cost of ownership"
                ]
            },
            tab2: {
                heading1: "Fast and Powerful",
                text1: "What are the main expectations from the modern Laser Hair Removal System? The answer is: it must be powerful enough to provide effective permanent or long term hair removal while being fast enough to do it in an economical fashion. DDC Technologies AL-40 Alexandrite Laser System provides both: high output energy and high pulse repetition frequency. It also features variable output pulse duration for more flexibility in patient treatment. And all this comes in a package that is one of the smallest and lightest among comparable laser systems! This is the laser that both large aesthetic centers and practitioners in small cosmetology offices have been looking for. In fact, the AL-40 system can deliver its full specified energy per pulse of 40J at 2 pulses per second repetition rate, and pulse delivery rates as high as 5 pulses per second can be selected. High output energy allows using large spot sizes (up to 16 mm in diameter), which is very important for fast treatment of the large areas, such as man’s back. Imagine this: with a typical man’s back hair-bearing area of 2,800 cm2 and using a 16 mm (2 cm2) spot diameter at 2 pulses per second, the AL-40 can finish the job in less than 20 min!", 
                heading2: "Compact and Reliable",
                text2: "Many people have already experienced the advantages of painless, fast and effective laser hair removal. And of the laser methods available today, those based on the Alexandrite Laser have proven to be the most efficient, safe and cost effective. In the competitive hair removal laser market practitioners are looking for an effective, reliable and safe device, which, at the same time, is user friendly and affordable. The AL-40 Alexandrite Laser meets all these requirements. With a weight of less than 130 lbs. and small 2.4 sq. ft. footprint it can be easily installed in every medical office: big or small, upstairs or downstairs. Efficient and quiet cooling system provides continuous laser operation for most typical hair removal settings, even in small rooms with ambient temperatures up to 80F (27 °C). Protected optical fiber cable and environmentally sealed handpiece provide reliable laser beam delivery even in tight, space-limited facilities. And a dual microprocessor controller takes complete care of the laser performance – so the operator can concentrate on taking care of his patient.", 
                heading3: "Simple and User Friendly",
                text3: "The highly user friendly AL-40 laser features a modern laser control system, based on a dual microprocessor controller. A color touch-screen LCD display provides all key information regarding laser settings and operation parameters. The built-in energy meter is capable to instantly measure output energy of every laser pulse, so there is no need for annoying daily calibration procedures. The actual delivered energy fluence is displayed after each pulse, adjusted for selected handpiece type / spot size. Most AL-40 operating parameters are user selectable in order to provide versatile treatment regimes, yet the input is easy and intuitive with soft-touch “arrow” buttons and memory settings. Once frequently used laser settings are defined, they can be stored in the systems’ memory for future recall. The pre-selected laser operating parameters can be activated by simply pressing one of the 5 memory buttons on the control panel. A maximum of 5 additional settings can be saved in laser memory, which, in turn, can save precious treatment time by eliminating frequent laser parameter changes.", 
            },
            tab3: {
                heading1: "Laser Hair Removal History",
                text1: "Laser light as a tool for unwanted hair removal was first introduced to US market in 1995, when ThermoLase Corporation (San Diego, CA) received FDA clearance for its hair removal device based on Nd:YAG laser[1]. The method suggested use of infrared (IR) laser light in conjunction with a topical light absorbing solution. Though the long lasting effects of that first laser hair removal approach were questionable (in terms of its comparison with electrolysis), its speed and virtual painlessness were so attractive that laser hair removal soon became very popular. It was soon determined that best results in hair removal could be achieved only when the unique laser light property is correctly utilized. The fact that laser emits its light energy in a very narrow spectral range (usually represented in laser specifications by peak emitting wavelength), makes it possible to effectively deliver laser energy right to the hair follicle, without damage to surrounding skin layers. That’s why the search for the laser, which would be best choice for hair removal application, has started right after the first laser appeared in the market. After a number of clinical studies were performed [2-5], the best results were demonstrated with two type of lasers: Ruby laser emitting at 694 nm (red) wavelength and Alexandrite laser that operates at 755 nm (near infrared) line. The clinical advantage of these two lasers was based on the big difference in absorption between upper skin layers (epidermis) and hair follicles containing hair pigmented with melanin. This mechanism of selective targeting of the hair follicles was called selective photothermolysis [4] and is illustrated in the Choice of Wavelength section below, where we give more detailed description of the laser hair removal physics.", 
                text1_2: "Since 1997 many companies in USA and Europe introduced new laser hair removal devices. The lasers for hair removal today come in all shapes and sizes. There are also different lasers that use different wavelengths of light. Some utilize a cooling device and some do not. All laser systems emit a gentle beam of light that passes through the skin to the hair follicle where it is absorbed by the hair. Among all these systems the Alexandrite laser based devices have won the biggest market share. The popularity of these lasers is based on the preferable wavelength of 755 nm, high energy per pulse, which can be delivered at higher speed from a more compact package than in competing Ruby lasers.",
                heading2: "Choice of wavelength",
                text2: "Most of the modern laser hair removal systems operate based on Anderson and Parrish’s 1981 principle of selective photothermolysis [4]. Under the principle of selective photothermolysis, when a pigmented target absorbs a particular wavelength of light in an amount of time that is shorter than or equal to the thermal relaxation time of the targeted structure, the targeted tissue will be selectively destroyed without surrounding tissue injury. The absorption properties of the main chromophore of hair follicles - melanin, and surrounding epidermis have suggested that lasers emitting light in red and near infrared spectrum are the best light sources for the hair removal [3,4]. Since melanin in the hair shaft/bulb is the primary chromophore for laser hair removal and because one of these targets (bulb) may be located up to 5 mm below the skin surface, the optimal choice of wavelength depends on both skin penetration depth and melanin absorption. For a typical hair bulb diameter of 0.3 mm located 3 mm below the skin surface, the calculations show (see Figure 1) that among popular wavelengths used for hair removal, the wavelengths in 640-780 nm produce the highest temperature rise per unit fluence (laser thermal efficiency) in the hair bulb.", 
                text2_2: "In simple words, the lasers operating at preferable wavelengths can deliver more heating damage to the hair bulb without burning the surrounding skin. This property of the laser light also gives it substantial advantage when laser is compared to non-laser hair removal devices (such as flash lamp-type light sources with very broad emission spectrum). Currently, only two types of solid-state lasers emit light at the appropriate wavelengths and with sufficient output energy for the hair removal procedure. These lasers are Ruby laser (694 nm output wavelength) and Alexandrite laser (755 nm central output wavelength). Recent studies have shown that the clinical results achieved by both types of lasers are on par [3], so the technical differences between two lasers are usually seen as an advantage of the Alexandrite. The 810 nm output of the diode lasers, which are also widely used for hair removal, is pretty close to desired wavelength range, but required energy fluence can only be achieved at very long pulses (much longer than typical thermal relaxation time of the hair follicle), compare to the solid-state lasers.",
                heading3: "Speed and Cost Effectiveness",
                text3: "The practitioners involved in hair removal procedures always pay attention to the time required to perform treatments. This time eventually determines the cost of the treatment and it strongly depends on the laser performance characteristics. In terms of pulsed lasers there are only two ways to increase the coverage rate of a treatment: increase the pulse repetition frequency (rep. rate), or increase the spot size. How fast a laser covers a treatment area is a product of the spot size and repetition rate (see Table 1).", 
            }
        }
    }
    
    var lazer1Specification = {
        half1: {
            title: "Specifications",
            table: {
                heading1: "Item",
                heading2: "Description",
                content: [
                    {
                        item: "Laser Type",
                        description: "	Solid-state, Long Pulse Alexandrite Laser"
                    },
                    {
                        item: "Laser Wavelength",
                        description: "755 nm"
                    },
                    {
                        item: "Max. Energy Per Pulse, J",
                        description: "60 J"
                    },
                    {
                        item: "Laser Pulse Width",
                        description: "0.5-100 ms (user selectable)"
                    },
                    {
                        item: "Max. Average Power",
                        description: "80 W"
                    },
                    {
                        item: "Pulse Repetition Rate",
                        description: "Single Shot – 5 Hz"
                    },
                    {
                        item: "Beam Delivery",
                        description: "Optical fiber, 10 feet (3 m) length"
                    },
                    {
                        item: "Optical Fiber core diameter",
                        description: "1000 mm"
                    },
                    {
                        item: "Handpiece Spot Size",
                        description: "10mm, 12mm or 16 mm dia."
                    },
                    {
                        item: "Max. Energy Fluence",
                        description: "30 J/cm2 @ 16mm spot size"
                    },
                    {
                        item: "Handpiece Cooling",
                        description: "Compressed air jet with solid-state air cooler"
                    },
                    {
                        item: "Dimensions (HxWxL)",
                        description: "31\"x 13\"x 27\" (790x330x690 mm)"
                    },
                    {
                        item: "Weight",
                        description: "60 kg (130 lbs.)"
                    },
                    {
                        item: "Power Requirements",
                        description: "	215…230V single phase ~50/60Hz, 20A"
                    },
                    {
                        item: "Noise Level",
                        description: "<70 dB"
                    }
                ]
            }
        },
        half2: {
            pennant: "Gallery",
            gallery: [
                {
                    src: "../../assets/img/gallery1.jpg"
                },
                {
                    src: "../../assets/img/gallery2.jpg"
                },
                {
                    src: "../../assets/img/gallery3.jpg"
                },
                {
                    src: "../../assets/img/gallery4.jpg"
                },
                {
                    src: "../../assets/img/gallery5.jpg"
                }
            ]
        }
    }
    
    var lazer2 = {
        half1: {
            slider: [
                {
                    src: "../../assets/img/lazer1.jpg"
                },
                {
                    src: "../../assets/img/lazer1.jpg"
                },
                {
                    src: "../../assets/img/lazer1.jpg"
                }
            ]
        },
        section3: {
            title: {
                model: "EPY-50 Nd:YAG",
                name: "Hair Removal Lazer"
            },
            list: {
                link1: "Overview",
                link2: "More Info",
                link3: "Hair Removal Facts"
            },
            downloads: [
                {
                    name: "Optichamber 1</br> Installation Guide",
                    button: "Download",
                    url: "#"
                },
                {
                    name: "Brochure",
                    button: "Download",
                    url: "#"
                },
                {
                    name: "How it work",
                    button: "Watch Video",
                    url: "#"
                }
            ]
        },
        section4: {
            tab1: {
                text1: "You do not need to look further if you seek an effective tool for darker skin (including tanned skin) patients hair reduction: our EPY-50 Nd:YAG laser will help you to complete your procedure in a fast and convenient manner. Need to complete large body area quickly? Set it to 16 mm spot size at two pulses per second with up to 30J/cm2 fluence. In case higher fluence is needed – there are also 10 and 12 mm spot sizes, which can be changed on-the-fly with our unique auto-zoom spot size selection system. Need higher pulse rate for wrinkles and skin tightening? Here you are with up to 10 Hz speed setting available. Special vein mode with small spot size objective lets you quickly set the EPY-50 for leg and facial spider veins treatment. With its many capabilities and unmatched power EPY-50 is an Nd:YAG laser of choice!",
                
            },
            tab2: {
                text1: "Our new EPY-50 Nd:YAG Hair Removal Laser is an excellent choice for the office with diversified customer base. It further extends hair removal procedure advantages for the people with darker skin types. Very efficient, compact and powerful at the same time, it can provide fastest possible hair removal action for the laser of this class. If combined with our Alexandrite AL-40 laser, the pair is the most versatile choice for the laser hair removal professional. In fact, these two lasers can provide most efficient and long lasting hair removal action for all possible skin types! This is a unique opportunity to have two working machines in your office, complimenting each other (you can even use them simultaneously). And all this without spending much more than you would pay for just one diode hair removal device with comparable power!",
                
                text2: "The EPY-50 laser features simple and user friendly laser control system, similar to that of our Alexandrite model AL-40. A high contrast LCD display provides all key information regarding laser settings and operation parameters. The built-in energy meter is capable to instantly measure output energy of every laser pulse and the actual delivered energy fluence is displayed after each pulse. Most EPY-50 operating parameters are user selectable in order to provide versatile treatment regimes, yet the input is easy and intuitive with soft-touch “arrow” buttons and memory settings. Once frequently used laser settings are defined, they can be stored in the systems’ memory for future recall. The pre-selected laser operating parameters can be activated by simply pressing one of the 5 memory buttons on the control panel. A maximum of 5 additional settings can be saved in laser memory, which, in turn, can save precious treatment time by eliminating frequent laser parameter changes."
            },
            tab3: {
                heading1: "Laser Hair Removal History",
                
                text1: "Laser light as a tool for unwanted hair removal was first introduced to US market in 1995, when ThermoLase Corporation (San Diego, CA) received FDA clearance for its hair removal device based on Nd:YAG laser[1]. The method suggested use of infrared (IR) laser light in conjunction with a topical light absorbing solution. Though the long lasting effects of that first laser hair removal approach were questionable (in terms of its comparison with electrolysis), its speed and virtual painlessness were so attractive that laser hair removal soon became very popular. It was soon determined that best results in hair removal could be achieved only when the unique laser light property is correctly utilized. The fact that laser emits its light energy in a very narrow spectral range (usually represented in laser specifications by peak emitting wavelength), makes it possible to effectively deliver laser energy right to the hair follicle, without damage to surrounding skin layers. That’s why the search for the laser, which would be best choice for hair removal application, has started right after the first laser appeared in the market. After a number of clinical studies were performed [2-5], the best results were demonstrated with two type of lasers: Ruby laser emitting at 694 nm (red) wavelength and Alexandrite laser that operates at 755 nm (near infrared) line. The clinical advantage of these two lasers was based on the big difference in absorption between upper skin layers (epidermis) and hair follicles containing hair pigmented with melanin. This mechanism of selective targeting of the hair follicles was called selective photothermolysis [4] and is illustrated in the Choice of Wavelength section below, where we give more detailed description of the laser hair removal physics.",
                
                text1_2: "Since 1997 many companies in USA and Europe introduced new laser hair removal devices. The lasers for hair removal today come in all shapes and sizes. There are also different lasers that use different wavelengths of light. Some utilize a cooling device and some do not. All laser systems emit a gentle beam of light that passes through the skin to the hair follicle where it is absorbed by the hair. Among all these systems the Alexandrite laser based devices have won the biggest market share. The popularity of these lasers is based on the preferable wavelength of 755 nm, high energy per pulse, which can be delivered at higher speed from a more compact package than in competing Ruby lasers.",
                
                heading2: "Choice of wavelength",
                
                text2: "Most of the modern laser hair removal systems operate based on Anderson and Parrish’s 1981 principle of selective photothermolysis [4]. Under the principle of selective photothermolysis, when a pigmented target absorbs a particular wavelength of light in an amount of time that is shorter than or equal to the thermal relaxation time of the targeted structure, the targeted tissue will be selectively destroyed without surrounding tissue injury. The absorption properties of the main chromophore of hair follicles - melanin, and surrounding epidermis have suggested that lasers emitting light in red and near infrared spectrum are the best light sources for the hair removal [3,4]. Since melanin in the hair shaft/bulb is the primary chromophore for laser hair removal and because one of these targets (bulb) may be located up to 5 mm below the skin surface, the optimal choice of wavelength depends on both skin penetration depth and melanin absorption. For a typical hair bulb diameter of 0.3 mm located 3 mm below the skin surface, the calculations show (see Figure 1) that among popular wavelengths used for hair removal, the wavelengths in 640-780 nm produce the highest temperature rise per unit fluence (laser thermal efficiency) in the hair bulb.",
                
                text2_2: "In simple words, the lasers operating at preferable wavelengths can deliver more heating damage to the hair bulb without burning the surrounding skin. This property of the laser light also gives it substantial advantage when laser is compared to non-laser hair removal devices (such as flash lamp-type light sources with very broad emission spectrum). Currently, only two types of solid-state lasers emit light at the appropriate wavelengths and with sufficient output energy for the hair removal procedure. These lasers are Ruby laser (694 nm output wavelength) and Alexandrite laser (755 nm central output wavelength). Recent studies have shown that the clinical results achieved by both types of lasers are on par [3], so the technical differences between two lasers are usually seen as an advantage of the Alexandrite. The 810 nm output of the diode lasers, which are also widely used for hair removal, is pretty close to desired wavelength range, but required energy fluence can only be achieved at very long pulses (much longer than typical thermal relaxation time of the hair follicle), compare to the solid-state lasers.",
                
                heading3: "Speed and Cost Effectiveness",
                
                text3: "The practitioners involved in hair removal procedures always pay attention to the time required to perform treatments. This time eventually determines the cost of the treatment and it strongly depends on the laser performance characteristics. In terms of pulsed lasers there are only two ways to increase the coverage rate of a treatment: increase the pulse repetition frequency (rep. rate), or increase the spot size. How fast a laser covers a treatment area is a product of the spot size and repetition rate (see Table 1)."
            }
        }
    }
    
    var lazer2Specification = {
        half1: {
            title: "Specifications",
            table: {
                heading1: "Item",
                heading2: "Description",
                content: [
                    {
                        item: "Laser Type",
                        description: "Solid-state, Long Pulse Nd:YAG Laser"
                    },
                    {
                        item: "Laser Wavelength",
                        description: "1064 nm"
                    },
                    {
                        item: "Max. Energy Per Pulse, J",
                        description: "60 J"
                    },
                    {
                        item: "Laser Pulse Width",
                        description: "0.5-100 ms (user selectable)"
                    },
                    {
                        item: "Max. Average Power",
                        description: "100 W"
                    },
                    {
                        item: "Pulse Repetition Rate",
                        description: "Single Shot – 10 Hz"
                    },
                    {
                        item: "Beam Delivery",
                        description: "Optical fiber, 10 feet (3 m) length"
                    },
                    {
                        item: "Optical Fiber core diameter",
                        description: "1000 mm"
                    },
                    {
                        item: "Handpiece Spot Size",
                        description: "10 mm, 12 mm or 16 mm dia."
                    },
                    {
                        item: "Max. Energy Fluence",
                        description: "30 J/cm2 @ 16 mm spot size"
                    },
                    {
                        item: "Handpiece Cooling",
                        description: "Compressed air jet with solid-state air cooler"
                    },
                    {
                        item: "Dimensions (HxWxL)",
                        description: "31\”x 13\”x 27\” (790x330x690 mm)"
                    },
                    {
                        item: "Weight",
                        description: "50 kg (110 lbs.)"
                    },
                    {
                        item: "Power Requirements",
                        description: "208…230V single phase ~50/60Hz, 20A"
                    },
                    {
                        item: "Noise Level",
                        description: "<70 dB"
                    }
                ]
            }
        },
        half2: {
            pennant: "Gallery",
            gallery: [
                {
                    src: "../../assets/img/gallery1.jpg"
                },
                {
                    src: "../../assets/img/gallery2.jpg"
                },
                {
                    src: "../../assets/img/gallery3.jpg"
                },
                {
                    src: "../../assets/img/gallery4.jpg"
                },
                {
                    src: "../../assets/img/gallery5.jpg"
                }
            ]
        }
    }
    
    var lazer3 = {
        half1: {
            slider: [
                {
                    src: "../../assets/img/lazer1.jpg"
                },
                {
                    src: "../../assets/img/lazer1.jpg"
                },
                {
                    src: "../../assets/img/lazer1.jpg"
                }
            ]
        },
        section3: {
            title: {
                model: "DDC Polylase LP",
                name: "Two state-of-the-art lasers in one complete package!"
            },
            list: {
                link1: "Overview",
                link2: "More Info",
                link3: "Hair Removal Facts"
            },
            downloads: [
                {
                    name: "Optichamber 1 </br>Installation Guide",
                    button: "Download",
                    url: "#"
                },
                {
                    name: "Brochure",
                    button: "Download",
                    url: "#"
                },
                {
                    name: "How it work",
                    button: "Watch Video",
                    url: "#"
                }
            ]
        },
        section4: {
            tab1: {
                text1: "This dual laser does it all! The 755nm Alexandrite mode provides less pain and high efficacy for hair removal on light skin. This wavelength is also indicated for removal of age/sun spots (lentigines), purple veins, port wine stains and birth marks. The 1064 nm Nd:YAG mode provides the advantages of safe hair removal on dark/tanned skin. The deeper penetration of the 1064 nm wavelength provides maximum efficacy for hair removal in deep follicles (e.g. man's beard, woman's bikini line, etc.). The wide range of pulse width (0.5 ms to 100 ms) and high repetition rate (up to 5 Hz in Alex mode and 10 Hz in Nd:YAG mode) allows this machine to be one of the most effective for non-ablative wrinkle reduction (collagen rebuild) treatments.",
                list: [
                    "Fast, Reliable, Powerful",
                    "Compact Footprint -Easy to transport",
                    "On demand use - No warm-up required",
                    "Say goodbye to Costly Consumables",
                    "Motorized Handpiece with Rapid Spot Size changes",
                    "Versatile with Multiple FDA Cleared Applications",
                    "Low Maintenance and Low Cost of Ownership"
                ]
            },
            tab2: {
                text1: "More info. Discover Alexandrite laser as the most efficient tool for hair removal for light skin patients. Its 755 nm output allows achieving unmatched selective action on melanine in follicles with minimum damage to surrounding skin. In fact, Alexandrite is the only laser proved to achieve permanent hair reduction in most patients with light skin types after a reasonable amount of treatment sessions. Yet, among all available Alexandrite lasers, AL-40 is an outstanding one:",
                list: [
                    "Given the Alexandrite wavelength's high absorption by melanin, the AL-40 provides long lasting results even after the first procedure, with a high percentage of permanent hair reduction after each consecutive treatment.",
                    "Wide selection of operating parameters, including broad range of available pulse durations give AL-40 the advantage to remove hair more safely, gently and effectively than competitive systems",
                    "High fluences available at large spot sizes at high pulse repetition rates result in faster treatment sessions-for greater client turnaround in your clinic.",
                    "Compact size, low maintenance and few consumables = ease of use and low cost of ownership"
                ]
            },
            tab3: {
                heading1: "Laser Hair Removal History",
                
                text1: "Laser light as a tool for unwanted hair removal was first introduced to US market in 1995, when ThermoLase Corporation (San Diego, CA) received FDA clearance for its hair removal device based on Nd:YAG laser[1]. The method suggested use of infrared (IR) laser light in conjunction with a topical light absorbing solution. Though the long lasting effects of that first laser hair removal approach were questionable (in terms of its comparison with electrolysis), its speed and virtual painlessness were so attractive that laser hair removal soon became very popular. It was soon determined that best results in hair removal could be achieved only when the unique laser light property is correctly utilized. The fact that laser emits its light energy in a very narrow spectral range (usually represented in laser specifications by peak emitting wavelength), makes it possible to effectively deliver laser energy right to the hair follicle, without damage to surrounding skin layers. That’s why the search for the laser, which would be best choice for hair removal application, has started right after the first laser appeared in the market. After a number of clinical studies were performed [2-5], the best results were demonstrated with two type of lasers: Ruby laser emitting at 694 nm (red) wavelength and Alexandrite laser that operates at 755 nm (near infrared) line. The clinical advantage of these two lasers was based on the big difference in absorption between upper skin layers (epidermis) and hair follicles containing hair pigmented with melanin. This mechanism of selective targeting of the hair follicles was called selective photothermolysis [4] and is illustrated in the Choice of Wavelength section below, where we give more detailed description of the laser hair removal physics.",
                
                text1_2: "Since 1997 many companies in USA and Europe introduced new laser hair removal devices. The lasers for hair removal today come in all shapes and sizes. There are also different lasers that use different wavelengths of light. Some utilize a cooling device and some do not. All laser systems emit a gentle beam of light that passes through the skin to the hair follicle where it is absorbed by the hair. Among all these systems the Alexandrite laser based devices have won the biggest market share. The popularity of these lasers is based on the preferable wavelength of 755 nm, high energy per pulse, which can be delivered at higher speed from a more compact package than in competing Ruby lasers.",
                
                heading2: "Choice of wavelength",
                
                text2: "Most of the modern laser hair removal systems operate based on Anderson and Parrish’s 1981 principle of selective photothermolysis [4]. Under the principle of selective photothermolysis, when a pigmented target absorbs a particular wavelength of light in an amount of time that is shorter than or equal to the thermal relaxation time of the targeted structure, the targeted tissue will be selectively destroyed without surrounding tissue injury. The absorption properties of the main chromophore of hair follicles - melanin, and surrounding epidermis have suggested that lasers emitting light in red and near infrared spectrum are the best light sources for the hair removal [3,4]. Since melanin in the hair shaft/bulb is the primary chromophore for laser hair removal and because one of these targets (bulb) may be located up to 5 mm below the skin surface, the optimal choice of wavelength depends on both skin penetration depth and melanin absorption. For a typical hair bulb diameter of 0.3 mm located 3 mm below the skin surface, the calculations show (see Figure 1) that among popular wavelengths used for hair removal, the wavelengths in 640-780 nm produce the highest temperature rise per unit fluence (laser thermal efficiency) in the hair bulb.",
                
                text2_2: "In simple words, the lasers operating at preferable wavelengths can deliver more heating damage to the hair bulb without burning the surrounding skin. This property of the laser light also gives it substantial advantage when laser is compared to non-laser hair removal devices (such as flash lamp-type light sources with very broad emission spectrum). Currently, only two types of solid-state lasers emit light at the appropriate wavelengths and with sufficient output energy for the hair removal procedure. These lasers are Ruby laser (694 nm output wavelength) and Alexandrite laser (755 nm central output wavelength). Recent studies have shown that the clinical results achieved by both types of lasers are on par [3], so the technical differences between two lasers are usually seen as an advantage of the Alexandrite. The 810 nm output of the diode lasers, which are also widely used for hair removal, is pretty close to desired wavelength range, but required energy fluence can only be achieved at very long pulses (much longer than typical thermal relaxation time of the hair follicle), compare to the solid-state lasers.",
                
                heading3: "Speed and Cost Effectiveness",
                
                text3: "The practitioners involved in hair removal procedures always pay attention to the time required to perform treatments. This time eventually determines the cost of the treatment and it strongly depends on the laser performance characteristics. In terms of pulsed lasers there are only two ways to increase the coverage rate of a treatment: increase the pulse repetition frequency (rep. rate), or increase the spot size. How fast a laser covers a treatment area is a product of the spot size and repetition rate (see Table 1)."
                
            }
        }
    }
    
    var lazer3Specification = {
        half1: {
            title: "Specifications",
            table: {
                heading1: "Item",
                heading2: "Description",
                content: [
                    {
                        item: "Laser Type",
                        description: "Long Pulse Alexandrite Laser",
                        description2: "Long Pulse Nd:YAG Laser"
                    },
                    {
                        item: "Laser Wavelength",
                        description: "755 nm",
                        description2: "1064 nm"
                    },
                    {
                        item: "Max. Energy Per Pulse, J",
                        description: "60 J",
                        description2: "60 J"
                    },
                    {
                        item: "Laser Pulse Width",
                        description: "1-100 ms (user selectable)",
                        description2: "1-100 ms (user selectable)"
                    },
                    {
                        item: "Max. Average Power",
                        description: "80 W",
                        description2: "90 W"
                    },
                    {
                        item: "Max. Peak Power",
                        description: "8 kW",
                        description2: "8 kW"
                    },
                    {
                        item: "Pulse Repetition Rate",
                        description: "Single Shot – 5 Hz",
                        description2: "Single Shot – 10 Hz"
                    },
                    {
                        item: "Beam Delivery",
                        description: "Optical fiber, 10 feet (3 m) length",
                        description2: "Optical fiber, 10 feet (3 m) length"
                    },
                    {
                        item: "Optical Fiber core diameter",
                        description: "1000 mm",
                        description2: "1000 mm"
                    },
                    {
                        item: "Handpiece Spot Size",
                        description: "10mm, 12mm or 16 mm dia.",
                        description2: "10 mm, 12 mm or 16 mm dia."
                    },
                    {
                        item: "Max. Energy Fluence",
                        description: "30 J/cm2 @ 16mm spot size",
                        description2: "30 J/cm2 @ 16 mm spot size"
                    },
                    {
                        item: "Handpiece Cooling",
                        description: "Compressed chilled air jet (standard)",
                        description2: "Compressed chilled air jet (standard)"
                    },
                    {
                        item: "Dimensions (HxWxL)",
                        description: "31\"x 13\"x 27\" (790x330x690 mm)"
                    },
                    {
                        item: "Weight",
                        description: "60 kg (130 lbs.)"
                    },
                    {
                        item: "Power Requirements",
                        description: "208…230V single phase ~50/60Hz, 20A"
                    },
                    {
                        item: "Noise Level",
                        description: "<70 dB"
                    }
                ]
            }
        },
        half2: {
            pennant: "Gallery",
            gallery: [
                {
                    src: "../../assets/img/gallery1.jpg"
                },
                {
                    src: "../../assets/img/gallery2.jpg"
                },
                {
                    src: "../../assets/img/gallery3.jpg"
                },
                {
                    src: "../../assets/img/gallery4.jpg"
                },
                {
                    src: "../../assets/img/gallery5.jpg"
                }
            ]
        }
    }
    