- 
    var optichamber2 = {
        half1: {
            slider: [
                {
                    src: "../../assets/img/optichamber2.jpg"
                },
                {
                    src: "../../assets/img/optichamber2.jpg"
                },
                {
                    src: "../../assets/img/optichamber2.jpg"
                }
            ]
        },
        section3: {
            title: "OptiChamber 2 (version 2.0.3)",
            textBlocks: [
                "- diode pumping unit including plurality of diode emitters, bars and bar stacks;",
                "- laser rod being pumped;",
                "- surrounding reflector, surfaces and medium;",
                "- pump chamber optical elements (tubes, filters, coolant);"
            ],
            downloads: [
                {
                    name: "Demo",
                    button: "Download",
                    url: "#"
                },
                {
                    name: "Brochure",
                    button: "Download",
                    url: "#"
                },
                {
                    name: "OptiChamber 2014",
                    button: "Download",
                    url: "#"
                }
            ]
        },
        section4: {
            title: "Software for the Diode Pumped Lasers Pump Chamber Design",
            text1: "OptiChamber 2 is intended for computational modeling of optical pump chambers (solid state laser pump cavities) containing",
            list1: [
                "diode pumping unit including plurality of diode emitters, bars and bar stacks",
                "laser rod being pumped",
                "surrounding reflector, surfaces and medium",
                "pump chamber optical elements (tubes, filters, coolant)"
            ],
            text2: "The software implies 2D geometry. Version 2.0 of the software provides modeling of stationary pumping for five different configurations, including",
            list2: [
                "conventional \"star\" configurations",
                "cylindrical reflector configurations with an input slot",
                "single side dome configuration",
                "close packed configurations",
                "configurations with collimating and focusing lenses and other conventional cavities as well as user defined cavities"
            ],
            text3: "Optichamber 2 is a stand alone package for simulation of diode pumping of pump cavities. It was developed as an addition to OptiChamber 1",
            text4: "The package simulates reflection, scattering, absorption, refraction, polarization for all pump chamber elements and surfaces. It includes spectra of variety of laser elements and of pump diodes.",
            text5: "The modeling software package yields graphical and numerical output files for reporting and calculations:",
            list3: [
                "Wo-dimensional distribution of the power density absorbed in the area of active medium;",
                "Histogram of area distribution for different levels of the absorbed power density;",
                "Maximum value of the absorbed power density;",
                "Total lineal (per unit length) power absorbed in the active medium;",
                "Efficiency, the ratio of total power absorbed in the active medium to total power emitted by the diode."
            ],
            text6: "Optichamber 2 is a professional software for instant use; it has a simple, convenient interface. Input windows include explanatory graphics. Popup help supports almost every screen element.",
            text7: "Optichamber can be used for education in optics and lasers",
            text8: "Demo and User Guide allow evaluation and understanding of the OptiChamber.",
            text9: "Download demo files, open them in ONE directory and start Setup. (MS Internet Explorer users may click the right button of the mouse and choose \"Save target as\")."
        }
    }
    
    var optichamber = {
        half1: {
            slider: [
                {
                    src: "../../assets/img/optichamber2.jpg"
                },
                {
                    src: "../../assets/img/optichamber2.jpg"
                },
                {
                    src: "../../assets/img/optichamber2.jpg"
                }
            ]
        },
        section3: {
            title: "OptiChamber (version 1.3)",
            textBlocks: [
                "- flash lamp, arc lamp or diode pumping unit;",
                "- laser rod or laser slab being pumped;",
                "- surrounding reflector, surfaces and medium;",
                "- pump chamber optical elements (tubes, filters, coolant);"
            ],
            downloads: [
                {
                    name: "Demo",
                    button: "Download",
                    url: "#"
                },
                {
                    name: "Brochure",
                    button: "Download",
                    url: "#"
                },
                {
                    name: "OptiChamber 2014",
                    button: "Download",
                    url: "#"
                }
            ]
        },
        section4: {
            title: "Software for Modeling of Laser Pump Chambers",
            text1: "OptiChamber is intended for computational modeling of optical pump chambers (solid state laser pump cavities) containing",
            list1: [
                "flash lamp, arc lamp or diode pumping unit",
                "laser rod or laser slab being pumped",
                "surrounding reflector, surfaces and medium",
                "pump chamber optical elements (tubes, filters, coolant)"
            ],
            text2: "The software implies 2D geometry. Version 1.3 of the software provides modeling of stationary pumping for seven different configurations, including conventional cylindrical, elliptical, close packed and other conventional cavities as well as user defined cavities.",
            text3: "The package simulates reflection, scattering, absorption, refraction, polarization for all pump chamber elements and surfaces. It includes spectra of variety of laser elements and pump sources.",
            text4: "The modeling software package yields graphical and numerical output files for reporting and calculations:",
            list2: [
                "two-dimensional distribution of the power density absorbed in the area of active medium",
                "histogram of area distribution for different levels of the absorbed power density",
                "maximum value of the absorbed power density",
                "total lineal (per unit length) power absorbed in the active medium",
                "efficiency, the ratio of total power absorbed in the active medium to total power emitted by the lamp or diode"
            ],
            text5: "Optichamber is a professional software for instant use; it has a simple, convenient interface. Input windows include explanatory graphics. Popup help supports almost every screen element.",
            text6: "Optichamber can be used for education in optics and lasers",
            text7: "Demo and User Guide allow evaluation and understanding of the OptiChamber.",
            text8: "Download demo files, open them in ONE directory and start Setup. (MS Internet Explorer users may click the right button of the mouse and choose \"Save target as\")."
        }
    }
    
    var laskin = {
        half1: {
            slider: [
                {
                    src: "../../assets/img/optichamber2.jpg"
                },
                {
                    src: "../../assets/img/optichamber2.jpg"
                },
                {
                    src: "../../assets/img/optichamber2.jpg"
                }
            ]
        },
        section3: {
            title: "LasKin",
            textBlocks: [
                "- Diode pumping and non-diode laser pumping;",
                "- Laser slab or laser rod designs;",
                "- Various laser materials, including customized laser media;",
                "- End or side pumped configurations;"
            ],
            downloads: [
                {
                    name: "Demo",
                    button: "Download",
                    url: "#"
                },
                {
                    name: "Brochure",
                    button: "Download",
                    url: "#"
                },
                {
                    name: "OptiChamber 2014",
                    button: "Download",
                    url: "#"
                }
            ]
        },
        section4: {
            title: "Looking forward to know what’s new?",
            text1: "Here is the list of the most noteworthy new features:",
            list1: [
                "User defined laser media – now with \“General\” laser media option it is possible to simulate any specific laser media that operates within 3-level or 4-level quantum model",
                "Laser design optimization – with this advanced feature one can optimize various laser design parameters (such as output coupler reflectivity, pump power, initial Q-switch transmission, etc.) in order to enhance desired laser output – output pulse energy, pulse duration, full efficiency and so on.",
                "Laser Amplifier – it is now possible to add single or multi-pass amplifier to your model with a new amplifier simulation option"
            ],
            text2: "The LasKin as a continuation of the LaserTrain concept development, allows simple, accurate and reliable simulations of solid state laser performance and serves as an efficient laser design tool. Simple transparent interface with graphical explanations provides instant effective operation for users without special training. The basic information on laser physics is imbedded into the program, making it simple for users even without extensive design expertise in the area of solid state lasers.",
            text3: "LasKin is intended for computational modeling of the solid state lasers dynamics, including:",
            list2: [
                "Diode pumping and non-diode laser pumping",
                "Laser slab or laser rod designs",
                "Various laser materials, including customized laser media",
                "End or side pumped configurations",
                "Active or passive Q-switches / shutters",
                "Free running and Q-switched operation",
                "CW or pulsed pumping"
            ],
            
            text4: "The LasKin Software computational options include:",
            list3: [
                "Possibility of precise detailed design of the laser configuration with wide range of input data, such as active media parameters, laser slab or rod dimensions, laser resonator and Q-switch parameters (see below for more input data options)",
                "Balance equations solution for conversion of absorbed power into population inversion, gain and stored energy in materials with constant absorption: Nd:YAG, Nd:YVO4, Nd:YLF, Nd:KGW, Yb:YAG, Er:Yb:Glass",
                "Kinetics equations solution for conversion of stored energy into free running or Q-switched laser output energy, giant pulse shape and duration calculation, post giant pulse lasing in the point model assumption."
            ],
            text5: "The LasKin delivers comprehensive output data, which makes it possible to \"see\" laser performance before building a hardware prototype and optimize various laser design parameters:",
            list4: [
                "Energy storage efficiency (real-time graph and data file)",
                "Output pulse energy and FWHM pulse duration in Q-switch mode",
                "Output pulse shape (real-time oscillogram and data file) including pre-lasing and post-lasing time period",
                "Intracavity peak intensity and fluence.",
                "Optical Pump Efficiency-the ratio of the total power absorbed in the active medium to the total power emitted by the pump lamp or diode"
            ],
            text6: "Computer system minimum requirements:",
            list5: [
                "800 MHz processor",
                "Windows XP SP2 or newer",
                "512 MB RAM (1 GB recommended)",
                "Net Framework 3.5 and DirectX support required"
            ],
            text7: "Now you can download the demo version and start your experience with LasKin 5.0 - a most comprehensive and yet simple and intuitive laser design software. Whether you are an experienced laser scientist or engineer, or just a college student who wants to know more about lasers and laser physics, you will enjoy using LasKin with its simple and convenient interface and explanatory graphics.",
            text8: "Ready to run a full version? Call 1-866-FIND LASER now!"
        }
    }