- 
    var solutionPage = {
        pageTitle: "Our solution is suitable",
        breadcrumbs: {
            crumb1: "Home",
            crumb2: "Our solution"
        },
        section1: [
            {
                title: "DDC Technologies",
                text: "designs and manufactures high performance laser systems for medical, scientific and industrial applications."
            },
            {
                title: "DDC Technologies",
                text: "designs and manufactures high performance laser systems for medical, scientific and industrial applications."
            }
        ],
        section2: [
            {
                title: "Our partner",
                text: "to our customers innovative laser design solutions, high quality laser optics and unique software tools for solid state laser performance modeling."
            }
        ],
        section3: [
            {
                title: "DDC Technologies",
                text: "designs and manufactures high performance laser systems for medical, scientific and industrial applications."
            },
            {
                title: "DDC Technologies",
                text: "designs and manufactures high performance laser systems for medical, scientific and industrial applications."
            }
        ],
        section4: [
            {
                title: "Our partner",
                text: "to our customers innovative laser design solutions, high quality laser optics and unique software tools for solid state laser performance modeling."
            }
        ]
    }