- 
    var tabs = {
        tabs: {
            title1: "Medical and Aesthetic Lasers",
            url1: "",
            title2: "Laser Design Software",
            url2: "",
            title3: "Laser Products and Optics",
            url3: ""
        },
        lazers: {
            model1: 'AL-40',
            name1: 'Alexandrite Laser Hair Removal Laser',
            description1: 'Discover Alexandrite laser as the most efficient tool for hair removal for light skin patients.',
            url1: '/pages/our-product/AL-40_Alexandrite-Laser-Hair-Removal-Laser.html',
                
            model2: 'EPY-50 Nd:YAG',
            name2: 'Hair Removal Lazer',
            description2: 'Discover Alexandrite laser as the most efficient tool for hair removal for light skin patients.',
            url2: '/pages/our-product/EPY-50_NdYAG_Hair-Removal-Lazer.html',
                
            model3: 'DDC Polylase LP',
            name3: 'Two state-of-arts lasers in one complete package!',
            description3: 'Discover Alexandrite laser as the most efficient tool for hair removal for light skin patients.',
            url3: '/pages/our-product/DDC_Polylase_LP.html'
        },
        software: {
            model1: 'OptiChamber 2 (version 2.0.3)',
            description1: 'Software for the Diode Pumped Lasers Pump Chamber Design',
            url1: '/pages/software/optichamber_2.html',
                
            model2: 'OptiChamber (version 1.3)',
            description2: 'Software for Modeling of Laser Pump Chambers',
            url2: '/pages/software/optichamber.html',
                
            model3: 'LASKIN 5.0',
            description3: 'Software for Solid State Laser Performance Simulation',
            url3: '/pages/software/laskin.html'
        },
        optics: {
            model1: 'Laser Optics',
            description1: 'The company has verified best manufactures of laser optics for it\'s own applications.',
            url1: '/pages/laserOptics/laserOptics.html',
                
            model2: 'Stingray II',
            description2: 'Diode Pumped Nd:YAG Green Laser',
            url2: '/pages/laserOptics/stringray.html'
        }
    }