- 
    var testimonialsPage = {
        testimonial1: {
            title: "Bodyline",
            author: "Michael H. Gold, MD, FAAD",
            rank: "Board Certified Dermatologist, Nashville, TN",
            text: "“ClearLift is about using Q-switched laser technology in a different manner, delivering lower energies in multiple sessions for results without discomfort or downtime.” “The great thing about Harmony XL is that it’s designed to be customized to your skin›s condition”. “iTED and IMPACT technology solves the challenges of trans-epidermal delivery by applying reverse pressure within the micro-channels, overcoming the blockage of intra-cellular fluid and forcing the active agents through. It is among the most important breakthroughs in aesthetic technology.”"
        },
        testimonial2: {
            title: "Bodyline",
            author: "Michael H. Gold, MD, FAAD",
            rank: "Board Certified Dermatologist, Nashville, TN",
            text: "“ClearLift is about using Q-switched laser technology in a different manner, delivering lower energies in multiple sessions for results without discomfort or downtime.” “The great thing about Harmony XL is that it’s designed to be customized to your skin›s condition”. “iTED and IMPACT technology solves the challenges of trans-epidermal delivery by applying reverse pressure within the micro-channels, overcoming the blockage of intra-cellular fluid and forcing the active agents through. It is among the most important breakthroughs in aesthetic technology.”"
        },
        testimonial3: {
            title: "Bodyline",
            author: "Michael H. Gold, MD, FAAD",
            rank: "Board Certified Dermatologist, Nashville, TN",
            text: "“ClearLift is about using Q-switched laser technology in a different manner, delivering lower energies in multiple sessions for results without discomfort or downtime.” “The great thing about Harmony XL is that it’s designed to be customized to your skin›s condition”. “iTED and IMPACT technology solves the challenges of trans-epidermal delivery by applying reverse pressure within the micro-channels, overcoming the blockage of intra-cellular fluid and forcing the active agents through. It is among the most important breakthroughs in aesthetic technology.”"
        },
        testimonial4: {
            title: "Bodyline",
            author: "Michael H. Gold, MD, FAAD",
            rank: "Board Certified Dermatologist, Nashville, TN",
            text: "“ClearLift is about using Q-switched laser technology in a different manner, delivering lower energies in multiple sessions for results without discomfort or downtime.” “The great thing about Harmony XL is that it’s designed to be customized to your skin›s condition”. “iTED and IMPACT technology solves the challenges of trans-epidermal delivery by applying reverse pressure within the micro-channels, overcoming the blockage of intra-cellular fluid and forcing the active agents through. It is among the most important breakthroughs in aesthetic technology.”"
        }
    }