/* lazer1-specification */
.lazer1-specification
    section-sizing()
    background-color #FCFCFC
    @media $IpadProPortrait
        flex-wrap wrap
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
        @media $IpadProPortrait
            width 100%
            height 50vh
        &_2
            display flex
            flex-direction column
            flex-wrap wrap
            position relative
            
    &__inner
        width 100%
        height 90%
        display flex
        flex-direction column
        justify-content space-between
        @media $laptop
            height 95%
        @media $IpadProPortrait
            height 95%
    &__title
        font-family $alt-font
        font-weight 700
        font-size 30px
        line-height 36px
        color $hover-color
        padding-left 5%
        position relative
        &::before
            content ""
            position absolute
            height 1.2em
            width 3px
            top 0
            left 0;
            background-color $hover-color
    &__pennant
        position absolute
        left 0
        top 10%
        background-color $hover-color
        color #fff
        font-family $alt-font
        font-weight 700
        font-size 30px
        line-height 36px
        padding 10px 10% 10px 5%
    &__gallery-item
        height 25%
        width 20%
        &:hover
            background-color rgba(0, 0, 0, 0.37)
            cursor pointer
            transition 0.5s
            background-blend-mode overlay
        &_1
            background-image url('../../assets/img/gallery1.jpg')
            background-size cover
            background-position center
        &_2
            background-image url('../../assets/img/gallery2.jpg')
            background-size cover
            background-position center
        &_3
            background-image url('../../assets/img/gallery3.jpg')
            background-size cover
            background-position center
        &_4
            background-image url('../../assets/img/gallery4.jpg')
            background-size cover
            background-position center
        &_5
            background-image url('../../assets/img/gallery5.jpg')
            background-size cover
            background-position center
.gallery-item
    &_active
        height 100%
        width 80%
        order -1
.table
    width 100%
    display flex
    flex-direction column
    &__heading
        width 100%
        display flex
        padding 0 5%
        @media $laptop
            padding 2% 5%
        @media $IpadProLandscape
            padding 2% 5%
        @media $IpadLandscape
            padding 2% 5%
        @media $IpadProPortrait
            padding 0
    &__title
        font-family $alt-font
        font-weight 700
        font-size 30px
        line-height 36px
        color $hover-color
        &_1
            width 20%
            text-align right
        &_2
            width 75%
            text-align center
    &__row
        width 100%
        display flex
        &:nth-child(even)
            background-color #fff
        @media $IpadProPortrait
            padding 0
    &__cell
        font-family $base-font
        font-size 16px
        line-height 40px
        color #707070
        @media $laptop
            line-height 28px
        @media $IpadLandscape
            font-size 14px
            line-height 30px
        @media $IpadProPortrait
            line-height 32px
        &_1
            width 25%
            text-align right
        &_2
            width 30%
            margin auto
            ^[-2]__row:nth-child(n+14) &
                text-align center
        &_3
            width 33%
            margin auto
        &_single
            width 65%

.gallery-viewport
    height 100%
    width 100%
    display flex
    position absolute
    top 0
    left 0
    visibility collapse
    background-color rgba(0, 0, 0, 0.8)
    &__slider-block
        position relative
        width 100%
        overflow hidden
    &__slider
        list-style none
        padding 0
        display flex
        margin 0
        height 100%
        position absolute
        transition 1s ease
    &__slide
        width 33vw
        height 100%
        margin 0 33.5vw
        padding 0
    &__image
        height 100%
    &__arrow
        &_right
            font-family monospace
            font-size 40px
            position absolute
            top 40vh
            padding 0.5em 0.5em
            cursor pointer
            color #fff
            background $hover-color
            border-radius  10px
            right 2%
            display none
            @media $laptop
                font-size 30px
        &_left
            font-family monospace
            font-size 40px
            position absolute
            top 40vh
            padding 0.5em 0.5em
            cursor pointer
            color #fff
            background $hover-color
            border-radius  10px
            left 2%
            display none
            @media $laptop
                font-size 30px
    &__close
        font-family monospace
        font-size 33px
        position absolute
        border-radius 100%
        top 1vh
        right 1%
        padding 0.2em 0.5em
        cursor pointer
        border 1px solid $hover-color
        color $hover-color
        opacity 0.9
        background #fff
        display none
        @media $laptop
            font-size 28px
            padding 5px 12px
        &:hover
            color #fff
            background $hover-color
            opacity 1
            transition 0.5s