extends ../../layouts/root

block head_title
    title #{logoName}
block header
    +header()
block content
    .section
        +aboutPageAbout()
    .section
        +mainSolution()
block footer
    +footer()