mixin aboutPageAbout()
    +b.aboutPageAbout
        +e.half_1
            +e.section_1
                +e.H1.page-title= aboutPage.pageTitle
                +b.breadcrumbs
                    +e.A.link(href="/")= aboutPage.breadcrumbs.crumb1 
                    | - 
                    +e.A.link(href="/pages/about/about.html")= aboutPage.breadcrumbs.crumb2
            +e.section_2
        +e.half_2
            +e.section_3
                +e.inner
                    +e.text-block_up
                        +e.P.title= aboutPage.section3.title
                        +e.P.text= aboutPage.section3.text
                    +e.text-block_full
                        +e.P.text_full= aboutPage.section3.textFull
            +e.section_4
                +e.inner_4
                    each item in aboutPage.section4
                        +e.text-block
                            +e.P.title= item.title
                            +e.P.text= item.text