/* about-page_about*/
.aboutPageAbout
    section-sizing()
    background-color #FCFCFC
    @media $IpadProPortrait
        flex-wrap wrap
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
        @media $IpadProPortrait
            width 100%
            height 50vh
        &_1
            background-image url('../../assets/img/about-about.jpg')
            background-size cover
            background-position center
    &__section
        width 50%
        height 100%
        display flex
        flex-direction column
        justify-content center
        align-items center
        &_1, &_2, &_3
            border-right 1px solid rgba(30, 30, 30, 0.4)
        &_1
            justify-content flex-start
            align-items flex-start
    &__page-title
        margin 10% 0 1% 10%
        font-family $alt-font
        font-weight 700
        font-size 24px
        line-height 20px
        color $hover-color
    &__inner
        width 80%
        height 80vh
        display flex
        flex-direction column
        justify-content space-between
        @media $IpadLandscape
            height 90vh
        @media $IpadProPortrait
            justify-content space-around
        &_4
            justify-content space-around
    &__title
        font-family $alt-font
        font-weight 700
        font-size 30px
        line-height 30px
        color $hover-color
        position relative
        &::before
            content ""
            position absolute
            height 1.2em
            width 3px
            top -10%
            left -12.5%
            background-color $hover-color
            @media $IpadLandscape
                top 0
    &__text-block
        &_full
            position relative
            &::before
                content ""
                position absolute
                height 2.5em
                width 3px
                top 0
                left -12.5%
                background-color $hover-color
    &__text
        font-family $alt-font
        font-size 18px
        line-height 30px
        color $base-color
        &_full
            font-size 16px
            color #202020
            height 50vh
            overflow-y scroll
            padding-right 2%
            @media $IpadProPortrait
                height 25vh
            &::-webkit-scrollbar-track
                background-color rgba(30, 30, 30, 0.4)
.breadcrumbs
    margin-left 10%
    color #fff
    &__link
        font-family $alt-font
        font-size 12px
        line-height 20px
        color #fff
        &:hover
            color $hover-color
            transition 0.5s