extends ../../layouts/root

block head_title
    title #{logoName}
block header
    +header()
block content
    .section
        +solutionPageSolution()
    .section
        +mainSolution()
    +actionBlock()
    .section
        +mainSeo()
block footer
    +footer()