extends ../../layouts/root

block head_title
    title #{logoName}
block header
    +header()
block content
    .section
        +lazer2()
    .section
        +lazer2-specification()
    +actionBlock()
    .section
        +tabs()
block footer
    +footer()