/* news-full */
.news-full
    section-sizing()
    background-color #FCFCFC
    @media $IpadProPortrait
        flex-wrap wrap
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
        @media $IpadProPortrait
            width 100%
            height 50vh
        &_1
            background-image url('../../assets/img/news-full.jpg')
            background-size cover
            background-position center
    &__section
        width 50%
        height 100%
        display flex
        flex-direction column
        justify-content center
        align-items center
        &_1, &_2, &_3
            border-right 1px solid rgba(30, 30, 30, 0.4)
        &_1
            justify-content flex-start
            align-items flex-start
    &__page-title
        margin 10% 0 1% 10%
        font-family $alt-font
        font-weight 700
        font-size 24px
        line-height 20px
        color $hover-color
    &__inner
        width 80%
        height 90vh
        display flex
        flex-direction column
        justify-content space-between
        @media $IpadProPortrait
            justify-content space-around
            height 45vh
        &_4
            justify-content space-around
            position relative
    &__title
        font-family $alt-font
        font-size 30px
        line-height 30px
        color $base-color
        position relative
        &:hover
            text-decoration underline
        &::before
            content ""
            position absolute
            height 1.2em
            width 3px
            top -10%
            left -19%
            background-color $hover-color
            @media $largeScreen
                left -17%
            @media $laptop
                left -14%
            @media $IpadProLandscape
                left -14%
            @media $IpadLandscape
                top 0
                left -38%
            ^[-1]:hover::before
                width 11%
                transition 0.5s
                @media $IpadLandscape
                    width 35%
                @media $IpadProPortrait
                    width 17%
        &_no-before
            color #696969
            font-weight 700
            @media $IpadLandscape
                font-size 22px
            &:hover
                text-decoration none
            &::before
                display none
        &_other
            font-size 21px
            position absolute
            top 0
            left 0
    &__text-block
        &_full
            position relative
            @media $IpadProPortrait
                height 45vh
            &::before
                content ""
                position absolute
                height 2.5em
                width 3px
                top 8.5vh
                left -12.5%
                background-color $hover-color
                @media $laptop
                    top 10vh
                @media $IpadLandscape
                    top 9.5vh
                @media $IpadProPortrait
                    top 7vh
                @media $IpadPortrait
                    top 10vh
        &_4
            @media $laptop
                &:nth-child(n+4)
                    display none
            @media $IpadLandscape
                &:nth-child(2)
                    margin-top 5vh
                &:nth-child(n+4)
                    display none
            @media $IpadProPortrait
                &:nth-child(2)
                    margin-top 7vh
    &__text
        font-family $alt-font
        font-size 18px
        line-height 30px
        color $base-color
        &_full
            font-size 16px
            color #202020
            height 80vh
            overflow scroll
            margin-top 5vh
            padding-right 2%
            @media $IpadProPortrait
                height 35vh
            &::-webkit-scrollbar-track
                background-color #9E9E9E
            &::-webkit-scrollbar-thumb
                background-color #1E1E1E
.breadcrumbs
    margin-left 10%
    color #fff
    &__link
        font-family $alt-font
        font-size 12px
        line-height 20px
        color #fff
        &:hover
            color $hover-color
            transition 0.5s