mixin newsFullPage()
    +b.news-full
        +e.half_1
            +e.section_1
                +e.H1.page-title= newsFull.pageTitle
                +b.breadcrumbs
                    +e.A.link(href="/")= newsFull.breadcrumbs.crumb1 
                    |  - 
                    +e.A.link(href="/pages/news/news.html")= newsFull.breadcrumbs.crumb2 
                    |  - 
                    +e.A.link(href="/pages/news-full/news-full_page.html")= newsFull.breadcrumbs.crumb3
            +e.section_2
        +e.half_2
            +e.section_3
                +e.inner
                    +e.text-block_full
                        +e.P.title_no-before= newsFull.section3.title
                        +e.P.text_full= newsFull.section3.textFull
            +e.section_4
                +e.inner_4
                    +e.P.title_no-before._other= newsFull.section4.title
                    each item in newsFull.section4.news
                        +e.text-block_4
                            +e.A.title(href="/pages/news-full/news-full_page.html")= item.title
                            +e.P.text= item.text