mixin lazerOptics()
    +b.lazerOptics
        +e.half_1
            +b.viewport
                +e.slider-block
                    +e.UL.slider
                        each item in optics.half1.slider
                            +e.LI.slide
                                +e.IMG.image(src= item.src)
                    +e.arrows
                        +e.arrow_left
                        +e.arrow_right
        +e.half_2
            +e.section_3
                +e.inner
                    +e.text-block_1
                        +e.P.title= optics.section3.title
                        +e.P.description= optics.section3.description
                    +e.UL.text-block_list
                        +e.LI.list-item_3._item1= optics.section3.list.item1
                        +e.LI.list-item_3._item2= optics.section3.list.item2
                        +e.LI.list-item_3._item3= optics.section3.list.item3
                        +e.LI.list-item_3._item4= optics.section3.list.item4
            +e.section_4
                +e.inner_4
                    +e.text-block_1
                        +e.P.title_grey= optics.section4.title
                    +e.UL.text-block_4
                        each item in optics.section4.tab1.list
                            +e.LI.list-item_4
                                +e.A(href="#").link= item.link
                                +e.SPAN.text= item.text