/* lazerOptics */
.lazerOptics
    section-sizing()
    background-color #FCFCFC
    @media $IpadProPortrait
        flex-wrap wrap
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
        @media $IpadProPortrait
            width 100%
            height 50vh
        &_1
            position relative
    &__section
        width 50%
        height 100%
        display flex
        flex-direction column
        justify-content center
        align-items center
        &_2, &_3
            border-right 1px solid rgba(30, 30, 30, 0.4)
        &_1
            justify-content flex-start
            align-items flex-start
    &__inner
        width 80%
        height 90vh
        display flex
        flex-direction column
        @media $IpadProPortrait
            justify-content space-around
            height 45vh
        &_4
            position relative
    &__title
        font-family $alt-font
        font-size 30px
        line-height 30px
        color $hover-color
        position relative
        &::before
            content ""
            position absolute
            height 1.2em
            width 3px
            top -10%
            left -12.5%
            background-color $hover-color
            @media $largeScreen
                left -12.5%
            @media $laptop
                left -13%
            @media $IpadProLandscape
                left -13%
            @media $IpadLandscape
                top 0
                left -13%
        &_grey
            font-size 26px
            line-height 36px
            color $base-color
            &:hover
                text-decoration none
            &::before
                display none
    &__description
        font-family $alt-font
        font-size 16px
        line-height 22px
        color #202020
        margin-top 2vh
    &__text-block
        padding 0
        &_1
            height 15vh
            @media $laptop
                height 30vh
            @media $IpadProLandscape
                height 30vh
            @media $IpadLandscape
                height 35vh
        &_list
            height 40vh
            display flex
            flex-direction column
            justify-content space-between
            list-style none
    &__list-item
        &_3
            font-family $alt-font
            font-size 26px
            font-weight 700
            line-height 30px
            color $base-color
            position relative
            cursor pointer
            &:hover
                color $hover-color
            &::before
                content ""
                position absolute
                height 1.2em
                width 3px
                top 0
                left -12.5%
                background-color $base-color
                @media $largeScreen
                    left -12.5%
                @media $laptop
                    left -13%
                @media $IpadProLandscape
                    left -13%
                @media $IpadLandscape
                    top 0
                    left -13%
                ^[-1]:hover::before
                    width 5%
                    background-color $hover-color
                    transition 0.5s
                    @media $IpadLandscape
                        width 11%
                    @media $IpadProPortrait
                        width 11%
        &_4
            list-style-type none
            position relative
            &:before
                content ""
                left -3%
                top 0.7em
                position absolute
                height 5px
                width 5px
                background-color $hover-color
    &__text
        font-family $alt-font
        font-size 16px
        line-height 28px
        color #202020
    &__link
        font-family $alt-font
        font-size 16px
        line-height 28px
        color #1A63B7
        &:hover
            text-decoration underline