/* FAQ */
.faq
    section-sizing()
    background-color #FCFCFC
    @media $IpadProPortrait
        flex-wrap wrap
    &__heading
        position absolute
        top 5vh
        left 10%
        @media $IpadLandscape
            top 2vh
        @media $IpadProPortrait
            top 2vh
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
        @media $IpadProPortrait
            width 100%
            height 50vh
    &__section
        width 50%
        height 100%
        display flex
        flex-direction column
        justify-content center
        align-items center
        position relative
        &_1, &_2, &_3, &_4
            border-right 1px solid rgba(30, 30, 30, 0.4)
            @media $laptop
                justify-content flex-end
        @media $IpadLandscape
            &_1, &_2, &_3, &_4
                justify-content flex-end
    &__page-title
        margin 5% 0 1% 0
        font-family $alt-font
        font-weight 700
        font-size 24px
        line-height 20px
        color $hover-color
    &__inner
        width 80%
        height 80vh
        display flex
        flex-direction column
        justify-content space-around
        @media $IpadLandscape
            height 85vh
        @media $IpadProPortrait
            justify-content space-around
        &_4
            justify-content flex-start
            height 70%
            overflow-y auto
            &::-webkit-scrollbar-track
                background-color #9E9E9E
            &::-webkit-scrollbar-thumb
                background-color #1E1E1E
            font-family $alt-font
            font-size 16px
            line-height 28px
            color #202020
            padding-right 5%
            justify-content flex-start
            @media $laptop
                margin-bottom 2vh
                height 80%
            @media $IpadLandscape
                margin-bottom 2vh
                height 80%
        &_2
            height 70%
            overflow-y auto
            &::-webkit-scrollbar-track
                background-color #9E9E9E
            &::-webkit-scrollbar-thumb
                background-color #1E1E1E
            font-family $alt-font
            font-size 16px
            line-height 28px
            color #202020
            padding-right 5%
            justify-content flex-start
            @media $laptop
                margin-bottom 2vh
                height 80%
            @media $IpadLandscape
                margin-bottom 2vh
                height 80%
    &__text-block
        &_1
            margin-bottom 2vh
            position relative
            @media $IpadProPortrait
                margin-bottom 0
                margin-top 5vh
    &__number
        font-family $alt-font
        font-weight 700
        font-size 30px
        line-height 36px
        color $base-color
        position absolute
        left -8%
        @media $IpadLandscape
            font-size 24px
        
    &__question
        font-family $alt-font
        font-size 24px
        line-height 32px
        position relative
        color $base-color
        cursor pointer
        @media $IpadLandscape
            font-size 20px
        &::before
            content ""
            position absolute
            height 2em
            width 3px
            top -10%
            left -12.5%
            background-color $hover-color
            @media $laptop
                height 1.5em
                top 0
            @media $IpadProLandscape
                height 1.5em
                top 0
            @media $IpadLandscape
                top 0
                height 1.5em
            ^[-1]:hover::before
                width 3%
                transition 0.5s
        &:hover
            color $hover-color
            text-decoration underline
            transition 0.5s
    &__button
        font-family $alt-font
        font-size 22px
        line-height 22px
        color #FF0000
        text-align center
        width 40%
        border-radius 10px
        padding 15px
        box-shadow 0 3px 6px rgba(0, 0, 0, 0.27)
        position absolute
        top 5%
        right 10%
        @media $IpadLandscape
            width 67%
        &:hover
            color #fff
            background-color #ff0000
            transition 0.5s
            cursor pointer