mixin FAQ()
    +b.faq
        +e.half_1
            +e.section_1
                +e.inner
                    +e.heading
                        +e.H1.page-title= faq.pageTitle
                        +b.breadcrumbs_no-margin._dark
                            +e.A.link_dark(href="/")= faq.breadcrumbs.crumb1 
                            |  - 
                            +e.A.link_dark(href="/pages/FAQ/FAQ.html")= faq.breadcrumbs.crumb2
                    +e.text-block_1
                        +e.SPAN.number_1= faq.section1.number1
                        +e.P.question_1= faq.section1.question1
                    +e.text-block_1
                        +e.SPAN.number_2= faq.section1.number2
                        +e.P.question_2= faq.section1.question2
                    +e.text-block_1
                        +e.SPAN.number_3= faq.section1.number3
                        +e.P.question_3= faq.section1.question3
                    +e.text-block_1
                        +e.SPAN.number_4= faq.section1.number4
                        +e.P.question_4= faq.section1.question4
            +e.section_2
                +e.inner_2= faq.section2.answer1
                    
        +e.half_1
            +e.section_3
                +e.inner
                    +e.text-block_1
                        +e.SPAN.number_5= faq.section3.number5
                        +e.P.question_5= faq.section3.question5
                    +e.text-block_1
                        +e.SPAN.number_6= faq.section3.number6
                        +e.P.question_6= faq.section3.question6
                    +e.text-block_1
                        +e.SPAN.number_7= faq.section3.number7
                        +e.P.question_7= faq.section3.question7
                    +e.text-block_1
                        +e.SPAN.number_8= faq.section3.number8
                        +e.P.question_8= faq.section3.question8
            +e.section_4
                +e.button= faq.section4.button
                +e.inner_4= faq.section4.answer5