/* main-action */
.main-action
    section-sizing()
    flex-wrap wrap
    &__section
        &_1
            width 25%
            height 100%
            background-color #FF0000
            color #fff
            @media $IpadProPortrait
                width 100%
                height 25vh
        &_2
            width 75%
            height 100%
            @media $IpadProPortrait
                width 100%
                height 75vh
    &__inner
        &_1
            width 100%
            height 100%
            display flex
            flex-direction column
            justify-content center
            align-items center
    &__title
        font-family $alt-font
        font-size 30px
        line-height 29px
        font-weight 700
        text-align center
    &__arrow
        margin 4vh 0
    &__button
        width max-content
        border-radius 10px
        box-shadow 0 6px 6px rgba(0, 0, 0, 0.27)
        font-family $alt-font
        font-size 22px
        color #FF0000
        line-height 22px
        padding 15px 13%
        background-color #fff
        &:hover
            background-color #FF0000
            color #fff
            transition 0.5s
    &__video
        pointer-events none