mixin mainAction()
    +b.main-action
        +e.section_1
            +e.inner_1
                +e.P.title= mainContent.action.title
                +e.IMG.arrow(src="../../assets/img/main-action_arrow.png" alt="")
                +e.A.button(href="#")= mainContent.action.button
        +e.section_2
            +e.IFRAME.video(width="100%" height="100%" src="https://www.youtube.com/embed/4XVmbxuVcCo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)