/* optichamber_2 */
.optichamber2
    section-sizing()
    background-color #FCFCFC
    @media $IpadProPortrait
        flex-wrap wrap
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
        @media $IpadProPortrait
            width 100%
            height 50vh
        &_1
            position relative
    &__section
        width 50%
        height 100%
        display flex
        flex-direction column
        justify-content center
        align-items center
        &_2, &_3
            border-right 1px solid rgba(30, 30, 30, 0.4)
                
    &__inner
        width 80%
        height 90vh
        display flex
        flex-direction column
        @media $IpadProPortrait
            height 45vh
        &_4
            position relative
    &__title
        font-family $alt-font
        font-size 30px
        line-height 30px
        color $hover-color
        position relative
        @media $laptop
            font-size  20px
        @media $IpadLandscape
            font-size 20px
        @media $IpadProPortrait
            height 6vh
        &::before
            content ""
            position absolute
            height 50px
            width 3px
            top 0
            left -12.5%
            background-color $hover-color
            @media $largeScreen
                left -12.5%
            @media $laptop
                left -13%
                height 40px
            @media $IpadProLandscape
                left -12.5%
            @media $IpadLandscape
                top 0
                left -12.5%
                height 40px
        &_grey
            font-size 26px
            line-height 36px
            color $base-color
            @media $laptop
                font-size 20px
                line-height 24px
            @media $IpadLandscape
                font-size 20px
                line-height 24px
            &:hover
                text-decoration none
            &::before
                content ""
                position absolute
                height 50px
                width 3px
                top 15vh
                left -12.5%
                background-color $hover-color
                @media $largeScreen
                    left -12.5%
                @media $laptop
                    left -13%
                    height 40px
                @media $IpadProLandscape
                    left -12.5%
                @media $IpadLandscape
                    top 15vh
                    left -12.5%
                    height 40px
                @media $IpadProPortrait
                    top 6vh
    &__text-block
        padding 0
        &_1
            height 15vh
            @media $IpadProPortrait
                height 6vh
        &_2
            margin-bottom 3vh
            position relative
            @media $laptop
                margin-bottom 1vh
            @media $IpadLandscape
                margin-bottom 1vh
            @media $IpadProPortrait
                margin-bottom 1vh
            &:nth-child(2)::before
                content ""
                position absolute
                height 50px
                width 3px
                top 0
                left -12.5%
                background-color $hover-color
                @media $largeScreen
                    left -12.5%
                @media $laptop
                    left -13%
                    height 40px
                @media $IpadProLandscape
                    left -12.5%
                @media $IpadLandscape
                    top 0
                    left -12.5%
                    height 40px
        &_4
            height 70vh
            overflow-y scroll
            position relative
            &::-webkit-scrollbar-track
                background-color #9E9E9E
            &::-webkit-scrollbar-thumb
                background-color #1E1E1E
            &::before
                content ""
                position absolute
                height 50px
                width 3px
                top 0
                left -12.5%
                background-color $hover-color
                @media $largeScreen
                    left -12.5%
                @media $laptop
                    left -14%
                @media $IpadProLandscape
                    left -14%
                @media $IpadLandscape
                    top 0
                    left -38%
            & > p
                margin 10px 0
    &__list-item
        &_4
            list-style-type none
            position relative
            font-family $alt-font
            font-size 16px
            line-height 28px
            color #1E1E1E
            padding 0
            @media $IpadLandscape
                font-size 12px
                line-height 20px
            &:before
                content ""
                left -3%
                top 0.7em
                position absolute
                height 5px
                width 5px
                background-color $hover-color
    &__text
        font-family $alt-font
        font-size 16px
        line-height 28px
        color #1E1E1E
        @media $laptop
            font-size 14px
            line-height 24px
        @media $IpadLandscape
            font-size 12px
            line-height 20px
        &_2
            &:hover
                color $hover-color
                transition 0.5s
        &_list
            padding 0 5%
    &__downloads
        position relative
        top 8vh
        @media $IpadProPortrait
            top 0
    &__download-item
        width 100%
        height 3vh
        display flex
        justify-content space-between
        align-items center
        padding 2.5vh 0
        border-bottom 1px solid #B2B2B2
        @media $IpadProPortrait
            padding 1.5vh 0
    &__download-name
        font-family $alt-font
        font-weight 700
        font-size 20px
        line-height 24px
        color #1E1E1E
        @media $laptop
            font-size 16px
        @media $IpadLandscape
            font-size 14px
    &__button
        font-family $alt-font
        font-size 15px
        line-height 26px
        color #fff
        padding 7px 25px
        border-radius 22px
        background-color $hover-color
        @media $laptop
            font-size 14px
            padding 3px 15px
        @media $IpadLandscape
            font-size 12px
            padding 3px 15px
        &:hover
            box-shadow 0 6px 6px rgba(0, 0, 0, 0.27)
            transition 0.5s