mixin optichamber2()
    +b.optichamber2
        +e.half_1
            +b.viewport
                +e.slider-block
                    +e.UL.slider
                        each item in optichamber2.half1.slider
                            +e.LI.slide
                                +e.IMG.image(src= item.src)
                    +e.arrows
                        +e.arrow_left
                        +e.arrow_right
        +e.half_2
            +e.section_3
                +e.inner
                    +e.text-block_1
                        +e.P.title= optichamber2.section3.title
                    each item in optichamber2.section3.textBlocks
                        +e.text-block_2
                            +e.P.text_2= item
                    +e.downloads
                        each item in optichamber2.section3.downloads
                            +e.download-item
                                +e.SPAN.download-name= item.name
                                +e.A(href=item.url).button= item.button
            +e.section_4
                +e.inner_4
                    +e.text-block_1
                        +e.P.title_grey= optichamber2.section4.title
                    +e.text-block_4
                        +e.P.text_no-hover= optichamber2.section4.text1
                        +e.UL.text_no-hover._list
                            each item in optichamber2.section4.list1
                                +e.LI.list-item_4= item
                        +e.P.text_no-hover.bold= optichamber2.section4.text2
                        +e.UL.text_no-hover._list
                            each item in optichamber2.section4.list2
                                +e.LI.list-item_4= item
                        +e.P.text_no-hover.bold= optichamber2.section4.text3
                        +e.P.text_no-hover= optichamber2.section4.text4
                        +e.P.text_no-hover= optichamber2.section4.text5
                        +e.UL.text_no-hover._list
                            each item in optichamber2.section4.list3
                                +e.LI.list-item_4= item
                        +e.P.text_no-hover= optichamber2.section4.text6
                        +e.P.text_no-hover= optichamber2.section4.text7
                        +e.P.text_no-hover= optichamber2.section4.text8
                        +e.P.text_no-hover= optichamber2.section4.text9