/* Downloads*/
.downloadsPage
    section-sizing()
    background-color #FCFCFC
    @media $IpadProPortrait
        flex-wrap wrap
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
        @media $IpadProPortrait
            width 100%
            height 50vh
        &_2
            background-image url('../../assets/img/downloads.jpg')
            background-size cover
            background-repeat no-repeat
            background-position center
    &__section
        width 50%
        height 100%
        display flex
        flex-direction column
        justify-content center
        align-items center
        position relative
        &_1, &_2
            border-right 1px solid rgba(30, 30, 30, 0.4)
    &__page-title
        margin 5% 0 1% 0
        font-family $alt-font
        font-weight 700
        font-size 24px
        line-height 20px
        position absolute
        top 1vh
        left 10%
        color $hover-color
    &__inner
        width 80%
        height 80vh
        overflow-y auto
        margin-top 2vh
        @media $IpadLandscape
            height 90vh
        /*@media $laptop
            height 85vh*/
        @media $IpadProPortrait
            justify-content space-around
            height 40vh
        
    &__text-block
        height 25%
        margin-bottom 30px
        display flex
        flex-direction column
        justify-content space-between
        @media $laptop
            height 50%
    &__title
        font-family $alt-font
        font-weight 700
        font-size 30px
        line-height 30px
        display inline-block
        width 100%
        color $base-color
        position relative
        &:hover
            color $hover-color
        @media $IpadLandscape
            font-size 24px
        &::before
            content ""
            position absolute
            height 1.2em
            width 3px
            top -10%
            left -12.5%
            background-color $hover-color
            @media $laptop
                left -13%
                top 0
            @media $IpadProLandscape
                left -13%
            @media $IpadLandscape
                top 0
            
    &__text
        font-family $alt-font
        font-size 18px
        line-height 30px
        color $base-color
        @media $IpadLandscape
            font-size 16px
    &__button
        font-family $alt-font
        font-size 15px
        line-height 40px
        text-align center
        color #fff
        display inline-block
        background-color $hover-color
        width 120px
        height 40px
        border-radius 22px
        &:hover
            box-shadow 0 6px 6px rgba(0,0,0,0.27)
            transition 0.5s
.breadcrumbs
    &_downloads
        position absolute
        top 6vh
        left 0
        @media $laptop
            top 7vh
        @media $IpadProPortrait
            top 5vh