mixin downloadsPage()
    +b.downloadsPage
        +e.half_1
            +e.section_1
                +e.H1.page-title= dowloadsPage.pageTitle
                +b.breadcrumbs_downloads._dark
                    +e.A.link_dark(href="/")= dowloadsPage.breadcrumbs.crumb1 
                    |  - 
                    +e.A.link_dark(href="/pages/news/news.html")= dowloadsPage.breadcrumbs.crumb2
                +e.inner_1
                     each item in dowloadsPage.articles.section1
                        +e.text-block
                            +e.P.title= item.title
                            +e.P.text= item.text
                            +e.A.button(href="#")= item.button
            +e.section_2
                +e.inner_2
                    each item in dowloadsPage.articles.section2
                        +e.text-block
                            +e.P.title= item.title
                            +e.P.text= item.text
                            +e.A.button(href="#")= item.button
        +e.half_2
            +e.section_3
                
            +e.section_4
                