mixin contact()
    +b.contact
        +e.section_1
            +e.heading
                +e.H1.page-title= contact.pageTitle
                +b.breadcrumbs_contact._dark
                    +e.A.link_dark(href="/")= contact.breadcrumbs.crumb1 
                    |  - 
                    +e.A.link_dark(href="/pages/contact/contact.html")= contact.breadcrumbs.crumb2
            +e.inner_1
                each item in contact.section1.textBlocks
                    +e.text-block_1
                        if item.span
                            +e.P.text_1!= item.span + item.text
                        else
                            +e.P.title_1= item.title
                            +e.P.text_1!= item.text
                +e.A.button_1(href="#")= contact.section1.button
        +e.half
            +e.IFRAME.map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193348.05679365364!2d-73.90123089338304!3d40.78262058874516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c27b3757b46b95%3A0xd125b3451e66acfc!2sDDC+Technologies+Inc!5e0!3m2!1sru!2sua!4v1531730670433" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen)
        +e.section_4
            +e.inner_4
                each item in contact.section4.textBlocks
                    +e.text-block_4
                            +e.P.title_4= item.title
                            +e.P.text_4!= item.text
                            +e.A.button_4(href="#")= item.button