/* contact */
.contact
    section-sizing()
    @media $IpadProPortrait
        flex-wrap wrap
    &__heading
        position absolute
        top 2vh
        left 10%
    &__page-title
        margin 5% 0 1% 0
        font-family $alt-font
        font-weight 700
        font-size 24px
        line-height 20px
        color $hover-color
    &__section
        width 25%
        height 100vh
        position relative
        background-color #FCFCFC
        &_1
            &::after
                content ""
                position absolute
                height 100%
                width 1px
                background-color rgba(30, 30, 30, 0.4)
                top 0
                right 0
        &_4
            &::before
                content ""
                position absolute
                height 100%
                width 1px
                background-color rgba(30, 30, 30, 0.4)
                top 0
                left 0
        @media $IpadProPortrait
            width 50%
            height 70vh
    &__half
        width 50%
        height 100vh
        position relative
        &::after
            content ""
            position absolute
            height 100%
            width 1px
            background-color rgba(30, 30, 30, 0.4)
            top 0
            left 50%
        @media $IpadProPortrait
            order 2
            width 100%
            height 30vh
    &__inner
        width 80%
        height 90vh
        margin auto
        display flex
        flex-direction column
        @media $largeScreen
            height 100vh
        @media $laptop
            height 100vh
        @media $IpadLandscape
            height 100vh
        @media $IpadProPortrait
            height 70vh
        &_1
            margin-top 12vh
            @media $IpadProPortrait
                margin-top 0
                padding-top 10vh
        &_4
            overflow-y auto
            margin-top 5vh
            @media $largeScreen
                height 94vh
                margin-top 3vh
            @media $laptop
                height 94vh
                margin-top 3vh
            @media $IpadLandscape
                height 94vh
                margin-top 3vh
            @media $IpadProPortrait
                height 94%
                margin-top 3%
                justify-content flex-start
    &__text-block
        position relative
        margin-bottom 2vh
        &_1
            margin-bottom 3vh
        &_4
            @media $IpadProPortrait
                margin-bottom 0
                margin-top 2vh
        &::before
            content ""
            position absolute
            height 3em
            width 3px
            top 0
            left -12%
            background-color $hover-color
            @media $IpadLandscape
                height 2em
    &__text
        font-family $alt-font
        font-size 16px
        line-height 28px
        color #202020
        &_1
            font-size 21px
            line-height 30px
            color $base-color
            @media $laptop
                font-size 14px
            @media $IpadProLandscape
                font-size 18px
            @media $IpadLandscape
                font-size 14px
                line-height 20px
        &_4
            font-size 18px
            color $base-color
            @media $laptop
                font-size 14px
                line-height 21px
            @media $IpadProLandscape
                font-size 16px
                line-height 24px
            @media $IpadLandscape
                font-size 12px
                line-height 20px
            
        & span
            color $hover-color
    &__title
        font-weight 700
        font-family $alt-font
        &_1
            font-size 18px
            line-height 28px
            color #FF0000
            @media $IpadLandscape
                font-size 14px
        &_4
            font-size 30px
            line-height 30px
            color $hover-color
            margin-bottom 2vh
            @media $laptop
                font-size 20px
            @media $IpadProLandscape
                font-size 22px
            @media $IpadLandscape
                font-size 16px
    &__button
        font-family $alt-font
        text-align center
        &_1
            width 65%
            font-size 22px
            color #FF0000
            padding 15px
            border-radius 10px
            box-shadow 0 6px 6px rgba(0, 0, 0, 0.27)
            margin-top 3vh
            @media $laptop
                width 80%
                margin-top 1vh
            @media $IpadProLandscape
                width 80%
            @media $IpadLandscape
                width 80%
                font-size 16px
            &:hover
                background-color #FF0000
                color #fff
                transition 0.5s
        &_4
            font-size 15px
            width 30%
            color #fff
            padding 10px
            border-radius 22px
            background-color $hover-color
            margin-top 1vh
            display inline-block
            @media $laptop
                width 35%
                padding 7px 5px
                font-size 14px
            @media $IpadProLandscape
                width 35%
                padding 7px 5px
            @media $IpadLandscape
                width 40%
                padding 10px
                font-size 14px
            &:hover
                box-shadow 0 6px 6px rgba(0, 0, 0, 0.27)
                transition 0.5s
.breadcrumbs
    &_contact
        margin-left 0 !important