mixin mainNews()
    +b.main-news
        +e.half
            +e.section_1
                +b.inner-1
                    +e.A.title(href=mainContent.news.section1.link)= mainContent.news.section1.title
                    +e.A.read-more(href=mainContent.news.section1.link)= mainContent.news.section1.button
            +e.section_2
                +e.inner_2._first
                    +e.section-title= mainContent.news.section2.title
                each item in mainContent.news.section2.textBlocks
                    +e.inner_2
                        +e.A.title(href="/pages/news-full/news-full_page.html")= item.title
                        +e.P.text= item.text
                +e.inner_2._last
                    +e.A.all-news(href="/pages/news/news.html")= mainContent.news.section2.button
        +e.half_2
            +b.viewport
                +e.slider-block
                    +e.UL.slider
                        each item in mainContent.news.slider
                            +e.LI.slide
                                +e.IMG.image(src= item.src)
            +e.section
            +e.section_4
                +b.main-testimonials
                    +e.inner_title
                        +e.section-title= mainContent.news.section4.title
                    +e.inner_content-wrapper
                        each item in mainContent.news.section4.content
                            +e.content
                                +e.A.title(href="/pages/testimonials/testimonials.html")= item.title
                                +e.P.author= item.author
                                +e.P.rank= item.rank
                                +e.P.text= item.text
                    +e.inner_nav
                        +e.A.read-more(href="/pages/testimonials/testimonials.html")= mainContent.news.section1.button
                        +e.arrows
                            +e.arrow_left
                            +e.arrow_right