/* main-news */
.main-news
    section-sizing()
    @media $IpadProPortrait
        flex-wrap wrap
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
        @media $IpadProPortrait
            width 100%
            height 50vh
        &_2
            justify-content flex-end
            align-items flex-end
            position relative
    &__section
        width 50%
        height 100%
        display flex
        flex-direction column
        align-items center
        justify-content space-between
        &_1
            background-image url('../../assets/img/main-news_section1.jpg')
            background-size cover
            background-repeat no-repeat
            background-position center
            justify-content flex-end
        &_2
            height 95vh
            margin auto 0
            @media $IpadProPortrait
                order -1
                height 50vh
        &_4
            justify-content  flex-end
            z-index 2
    &__inner
        width 100%
        display flex
        flex-direction column
        &_last
            margin-bottom 0.7vh
        @media $laptop
            &_2:nth-child(n+4):not(:last-child)
                display none
            &_last
                display flex
        @media $IpadProPortrait
            &_2:nth-child(n+4):not(:last-child)
                display none
    &__section-title
        width 85%
        margin auto
        font-family $alt-font
        font-weight 700
        color #696969
        font-size 30px
        line-height 36px
        margin-top 2vh
    &__title
        width 85%
        margin 0 auto 1vh auto
        font-family $alt-font
        color #FF0000
        font-size 30px
        line-height 36px
        position relative
        &::before
            content ""
            position absolute
            height 1.2em
            width 3px
            top 0
            left -9%
            background-color $hover-color
            ^[-1]:hover::before
                width 8%
                transition 0.5s
        &:hover
            text-decoration underline
    &__text
        width 85%
        margin 0 auto
        font-family $alt-font
        color #202020
        font-size 18px
        line-height 22px
    &__all-news
        width 85%
        margin 0 auto
        font-family $alt-font
        color #FF0000
        font-size 20px
        line-height 34px
        &:hover
            text-decoration underline
.inner-1
    background-blend-mode overlay
    background linear-gradient(to top, #36363a, transparent)
    width 100%
    height 25vh
    display flex
    flex-direction column
    @media $laptop
        height 40vh
    @media $IpadProLandscape
        height 40vh
    &__title
        width 85%
        margin auto
        font-family $alt-font
        font-size 30px
        line-height 36px
        color #fff
        cursor pointer
        &:hover
            color $hover-color
            transition 0.5s
    &__read-more
        width 85%
        margin auto
        margin-bottom 3vh
        font-family $alt-font
        font-weight 700
        font-size 20px
        line-height 34px
        color #fff
        &:hover
            color $hover-color
            transition 0.5s
.main-testimonials
    width 100%
    height 70vh
    background-color rgba(252, 252, 252, 0.92)
    overflow hidden
    position relative
    @media $largeScreen
        height 77vh
    @media $laptop
        height 100vh
    @media $IpadProLandscape
        height 87vh
    &::before
        content ""
        position absolute
        height 2em
        width 3px
        top 11.5%
        left 0
        background-color $hover-color
        @media $largeScreen
            top 9%
        @media $laptop
            top 10%
        @media $IpadProLandscape
            top 9%
        ^[-1]:hover::before
            width 8%
            transition 0.5s
    &__inner
        width 85%
        margin 0 auto 3vh auto
        @media $largeScreen
            margin-bottom 0
        @media $IpadProPortrait
            margin-bottom 1vh
        &_title
            margin-top 2vh
        &_content-wrapper
            display flex
            position relative
            width calc(100% * 3)
            transition 1s
    &__content
        margin 0 3%
        width 100%
    &__section-title
        font-family $alt-font
        font-weight 700
        font-size 30px
        line-height 36px
        color $base-color
        @media $laptop
            font-size 24px
    &__title
        font-family $base-font_semibold
        font-size 30px
        line-height 30px
        color #FF0000
        display block
        @media $largeScreen
            margin-top 1vh
        @media $laptop
            font-size 24px
        &:hover
            text-decoration underline
    &__author
        font-family $base-font_semibold
        font-size 24px
        line-height 30px
        color #1E1E1E
        margin-top 2vh
        @media $laptop
            font-size 20px
    &__rank
        font-family $base-font
        font-size 24px
        line-height 30px
        color #1E1E1E
        margin-bottom 2vh
        @media $laptop
            font-size 20px
    &__text
        font-family $base-font
        font-size 20px
        line-height 27px
        color #2A2A2A
        margin 2vh 0
        @media $laptop
            font-size 18px
            line-height 20px
        @media $IpadProLandscape
            line-height 23px
    &__inner_nav
        display flex
        justify-content space-between
        align-items center
    &__read-more
        font-family $alt-font
        font-size 19px
        line-height 32px
        color #FF0000
        position relative
        &::before
            content ""
            position absolute
            height 100%
            width 3px
            top 0
            left -38%
            background-color $hover-color
            @media $largeScreen
                left -33%
            @media $laptop
                left -27%
            @media $IpadProLandscape
                left -27%
            ^[-1]:hover::before
                width 34%
                transition 0.5s
                @media $largeScreen
                    width 31%
                @media $laptop
                    width 24%
                @media $IpadProLandscape
                    width 24%
        &:hover
            text-decoration underline
    &__arrows
        display flex
        justify-content space-between
        align-items center
        width 50%
    &__arrow
        width 40%
        height 3vh
        background-repeat no-repeat
        background-position center
        &_left
            background-image url("../../assets/img/arrow-basic.svg")
            transform rotate(180deg)
            &:hover
                background-image url("../../assets/img/arrow-hover.svg")
                transform rotate(180deg)
                cursor pointer
        &_right
            background-image url("../../assets/img/arrow-basic.svg")
            &:hover
                background-image url("../../assets/img/arrow-hover.svg")
                cursor pointer
.viewport
    height 100%
    width 100%
    display flex
    position absolute
    &__slider-block
        position relative
        width 100%
        overflow hidden
    &__slider
        list-style none
        padding 0
        display flex
        margin 0
        height 100%
        position absolute
        transition 1s ease
    &__slide
        width 50vw
        height 100%
        margin 0
        padding 0
        @media $IpadProPortrait
            width 100vw
    &__image
        width 50vw
        height 100%
    &__arrows
        display flex
        justify-content space-around
        align-items center
        width 30%
        padding 15px 5px
        position absolute
        bottom 5%
        right 0
        background-color rgba(255, 255, 255, 0.9)
    &__arrow
        width 40%
        height 3vh
        background-repeat no-repeat
        background-position center
        &_left
            background-image url("../../assets/img/arrow-basic.svg")
            transform rotate(180deg)
            &:hover
                background-image url("../../assets/img/arrow-hover.svg")
                transform rotate(180deg)
                cursor pointer
        &_right
            background-image url("../../assets/img/arrow-basic.svg")
            &:hover
                background-image url("../../assets/img/arrow-hover.svg")
                cursor pointer