/* main-seo */
.main-seo
    section-sizing()
    background-image url(../../assets/img/main-seo-bg.jpg)
    background-size cover
    background-position 40% center
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
    &__section
        width 50%
        height 100%
        display flex
        align-items center
        position relative
        &_1, &_2, &_3
            border-right 1px solid rgba(255, 255, 255, 0.18)
    &__text-wrapper
        width 200%
        height 50vh
        position absolute
        background-color rgba(255, 255, 255, 0.6)
        display flex
        justify-content center
        align-items center
    &__text
        width 90%
        height 40vh
        font-family $alt-font
        font-size 16px
        line-height 21px
        color #202020
        text-align justify
        padding-right 2%
        overflow scroll
        &::-webkit-scrollbar
            height 0