mixin mainSeo()
    +b.main-seo
        +e.half_1
            +e.section_1
            +e.section_2
        +e.half_2
            +e.section_3
                +e.text-wrapper
                    +e.P.text= mainContent.seo.text
                
            +e.section_4