mixin solutionPageSolution()
    +b.solutionPageSolution
        +e.half_1
            +e.section_1
                +e.inner
                    +e.heading
                        +e.H1.page-title= solutionPage.pageTitle
                        +b.breadcrumbs_no-margin._dark
                            +e.A.link_dark(href="/")= solutionPage.breadcrumbs.crumb1 
                            |  - 
                            +e.A.link_dark(href="/pages/our-solution/our-solution.html")= solutionPage.breadcrumbs.crumb2
                    each item in solutionPage.section1
                        +e.text-block_1
                            +e.P.title= item.title
                            +e.P.text= item.text
            +e.section_2
                +e.inner
                    each item in solutionPage.section2
                        +e.text-block_2
                            +e.P.title= item.title
                            +e.P.text= item.text
        +e.half_1
            +e.section_3
                +e.inner
                    each item in solutionPage.section3
                        +e.text-block_3
                            +e.P.title= item.title
                            +e.P.text= item.text
            +e.section_4
                +e.inner
                    each item in solutionPage.section4
                        +e.text-block_4
                            +e.P.title= item.title
                            +e.P.text= item.text