/* solution-page*/
.solutionPageSolution
    section-sizing()
    background-color #FCFCFC
    @media $IpadProPortrait
        flex-wrap wrap
    &__heading
        position absolute
        top 5vh
        left 10%
        @media $IpadLandscape
            top 2vh
        @media $IpadProPortrait
            top 2vh
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
        @media $IpadProPortrait
            width 100%
            height 50vh
    &__section
        width 50%
        height 100%
        display flex
        flex-direction column
        justify-content center
        align-items center
        position relative
        &_1, &_2, &_3
            border-right 1px solid rgba(30, 30, 30, 0.4)
        @media $IpadLandscape
            &_1
                justify-content flex-end
    &__page-title
        margin 5% 0 1% 0
        font-family $alt-font
        font-weight 700
        font-size 24px
        line-height 20px
        color $hover-color
    &__inner
        width 80%
        height 80vh
        display flex
        flex-direction column
        justify-content space-around
        @media $IpadLandscape
            height 90vh
        @media $IpadProPortrait
            justify-content space-around
        &_4
            justify-content space-around
    &__text-block
        &_1
           margin-bottom 2vh
           @media $IpadProPortrait
               &:nth-child(2)
                margin-bottom 0
                margin-top 7vh
    &__title
        font-family $alt-font
        font-weight 700
        font-size 30px
        line-height 30px
        color $hover-color
        position relative
        &::before
            content ""
            position absolute
            height 1.2em
            width 3px
            top -10%
            left -12.5%
            background-color $hover-color
            @media $IpadLandscape
                top 0
    &__text
        font-family $alt-font
        font-size 18px
        line-height 30px
        color $base-color
.breadcrumbs
    &_no-margin
        margin 0
    &_dark
        color $base-color
    &__link
        &_dark
            color $base-color