/* lazer3 */
.lazer3
    section-sizing()
    background-color #FCFCFC
    @media $IpadProPortrait
        flex-wrap wrap
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
        @media $IpadProPortrait
            width 100%
            height 50vh
        &_1
            position relative
    &__section
        width 50%
        height 100%
        display flex
        flex-direction column
        justify-content center
        align-items center
        &_2, &_3
            border-right 1px solid rgba(30, 30, 30, 0.4)
    &__inner
        width 80%
        height 90%
        display flex
        flex-direction column
        @media $IpadProPortrait
            justify-content space-around
            height 45vh
        &_4
            position relative
    &__title
        font-family $alt-font
        font-size 30px
        line-height 30px
        color $base-color
        position relative
        @media $IpadLandscape
            font-size 24px
            line-height 24px
        &_red::before
            content ""
            position absolute
            height 50px
            width 3px
            top 0
            left -12.5%
            background-color $hover-color
            @media $largeScreen
                left -12.5%
            @media $laptop
                left -13%
            @media $IpadProLandscape
                left -13%
            @media $IpadLandscape
                top 0
                left -13%
            
        &_red
            color $hover-color
        &_grey
            font-size 26px
            line-height 36px
            color $base-color
            position relative
            &:hover
                text-decoration none
    &__text-block
        padding 0
        &_1
            height 15vh
        &_2
            margin-bottom 3vh
            position relative
            &::before
                content ""
                position absolute
                height 50px
                width 3px
                top 0
                left -12.5%
                background-color $hover-color
                @media $largeScreen
                    left -12.5%
                @media $laptop
                    left -13%
                @media $IpadProLandscape
                    left -13%
                @media $IpadLandscape
                    top 0
                    left -13%
        &_4
            height 70vh
            overflow-y scroll
            padding-right 7%
            &::-webkit-scrollbar-track
                background-color #9E9E9E
            &::-webkit-scrollbar-thumb
                background-color #1E1E1E
            @media $IpadProPortrait
                    height 45vh
            & > p
                margin 10px 0
        &_grey
            @media $IpadProPortrait
                height 0
            &::before
                content ""
                position absolute
                height 50px
                width 3px
                top 15vh
                left -12.5%
                background-color $hover-color
                @media $largeScreen
                    left -12.5%
                @media $laptop
                    left -13%
                @media $IpadProLandscape
                    left -13%
                @media $IpadLandscape
                    top 0
                    left -13%
                @media $IpadProPortrait
                    top 0
        &_list
            height 25vh
            display flex
            flex-direction column
            justify-content space-around
            list-style none
            @media $laptop
                margin-top 5vh
            @media $IpadLandscape
                height 20vh
            @media $IpadProPortrait
                margin-top 3vh
    &__list-item
        &_3
            font-family $alt-font
            font-size 26px
            font-weight 700
            line-height 30px
            color $base-color
            position relative
            cursor pointer
            @media $IpadLandscape
                font-size 20px
            @media $IpadProPortrait
                margin-bottom 1vh
            &:hover
                color $hover-color
            &::before
                content ""
                position absolute
                height 1.2em
                width 3px
                top 0
                left -12.5%
                background-color $base-color
                @media $largeScreen
                    left -12.5%
                @media $laptop
                    left -13%
                @media $IpadProLandscape
                    left -13%
                @media $IpadLandscape
                    top 0
                    left -13%
                ^[-1]:hover::before
                    width 5%
                    background-color $hover-color
                    transition 0.5s
                    @media $IpadLandscape
                        width 10%
                    @media $IpadProPortrait
                        width 10%
        &_4
            list-style-type none
            position relative
            font-family $alt-font
            font-size 16px
            line-height 28px
            color #1E1E1E
            padding 0
            &:before
                content ""
                left -3%
                top 0.7em
                position absolute
                height 5px
                width 5px
                background-color $hover-color
    &__text
        font-family $alt-font
        font-size 16px
        line-height 28px
        color #1E1E1E
        &_2
            &:hover
                color $hover-color
                transition 0.5s
        &_list
            padding 0 5%
    &__button
        width max-content
        font-family $alt-font
        font-size 15px
        line-height 26px
        color #fff
        padding 7px 25px
        border-radius 22px
        background-color $hover-color
        @media $IpadLandscape
            padding 2px 10px
            font-size 12px
        &:hover
            box-shadow 0 6px 6px rgba(0, 0, 0, 0.27)
    &__downloads
        position relative
        top 8vh
        @media $IpadProPortrait
            top 0
    &__download-item
        width 100%
        height 7vh
        display flex
        justify-content space-between
        align-items center
        padding 2.5vh 0
        border-bottom 1px solid #B2B2B2
        @media $IpadProPortrait
            padding 0
        &:last-child ^[-1]__button
            background-color transparent
            color #1E1E1E
            border 1px solid $hover-color
            padding 7px 15px
            @media $IpadLandscape
                padding 0 7px
    &__download-name
        font-family $alt-font
        font-weight 700
        font-size 20px
        line-height 24px
        color #1E1E1E
        @media $IpadLandscape
            font-size 14px
            line-height 18px