/* action block */
.actionBlock
    width 100%
    height 25vh
    background-color #FF0000
    display flex
    justify-content center
    align-items center
    &__arrow
        transform rotate(-90deg)
        margin 0 10%
    &__button
        width max-content
        border-radius 10px
        box-shadow 0 6px 6px rgba(0, 0, 0, 0.27)
        font-family $alt-font
        font-size 22px
        color #FF0000
        line-height 22px
        padding 15px 3%
        background-color #fff
        &:hover
            background-color #FF0000
            color #fff
            transition 0.5s
    &__title
        font-family $alt-font
        font-size 30px
        line-height 29px
        font-weight 700
        color #fff