mixin actionBlock()
    .section.fp-auto-height
        +b.actionBlock
                +e.P.title= mainContent.action.title
                +e.IMG.arrow(src="../../assets/img/main-action_arrow.png" alt="")
                +e.A.button(href="#")= mainContent.action.button