mixin mainAbout()
    +b.main-about
        +e.half
            +e.section_1
                +e.inner
            +e.section_2
                +e.inner
                    each item in mainContent.about.section2
                        +e.text-block_up
                            +e.P.title= item.title
                            +e.P.text= item.text 
                    +e.A.button(href="/pages/contact/contact.html") View on map
        +e.half
            +e.section_3
                +e.inner
            +e.section_4
                +e.inner
                    +e.text-block
                        +e.P.title= mainContent.about.section4.title
                        +e.P.text= mainContent.about.section4.text
                    +e.text-block
                        +e.P.title_grey= mainContent.about.section4.titleGrey
                        +e.figures
                            +b.FIGURE.main-about-figure_1
                                +e.FIGCAPTION.caption= mainContent.about.section4.caption1
                            +b.FIGURE.main-about-figure_2
                                +e.FIGCAPTION.caption= mainContent.about.section4.caption2
                            +b.FIGURE.main-about-figure_3
                                +e.FIGCAPTION.caption= mainContent.about.section4.caption3