/* main-about */
.main-about
    section-sizing()
    @media $IpadProPortrait
        flex-wrap wrap
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
        @media $IpadProPortrait
            width 100%
            height 50%
    &__section
        width 50%
        height 100%
        display flex
        flex-direction column
        justify-content center
        align-items center
        &_1
            background-image url('../../assets/img/main-about_1.png')
            background-size cover
            background-position center
        &_2
            @media $IpadProPortrait
                order -1
        &_3
            background-image url('../../assets/img/main-about_3.png')
            background-size cover
            background-position center
    &__inner
        width 100%
        height 100%
        display flex
        flex-direction column
        align-items center
        justify-content space-around
    &__text-block
        width 90%
        display flex
        flex-direction column
        justify-content center
        margin-top 5vh
        &:first-child
            margin-top 10vh
    &__title
        font-family $alt-font
        font-size 30px
        font-weight 700
        color $hover-color
        position relative
        &::before
            content ""
            position absolute
            height 1.2em
            width 3px
            top 0
            left -5.5%
            background-color $hover-color
        &_grey
            color $base-color
    &__text
        font-family $alt-font
        font-size 20px
        font-weight 400
        color $base-color
        
    &__button
        width max-content
        margin-top 3vh
        border-radius 10px
        border 1px solid transparent
        box-shadow 0 3px 6px rgba(0, 0, 0, 0.27)
        font-family $alt-font
        font-size 22px
        color #FF0000
        line-height 22px
        padding 15px 13%
        position relative
        align-self flex-start
        top -15vh
        margin-left 5%
        @media $IpadProPortrait
            margin-top 7vh
            top -5vh
        @media $laptop
            top -5vh
        &:hover
            background-color $hover-color
            color #fff
            transition 0.5s
            box-shadow none
        &::before
            content ""
            position absolute
            height 100%
            width 1px
            border 1px solid $hover-color
            top -1px
            left -10%
            background-color $hover-color
            @media $laptop
                left -8%
            @media $IpadProLandscape
                left -8%
            @media $IpadProPortrait
                left -8%
            @media $IpadLandscape
                left -8%
            @media $IpadProPortrait
                left -10.5%
            @media $IpadPortrait
                left -8%
            ^[-1]:hover::before
                width 13%
                transition 0.5s
.main-about-figure
    display flex
    align-items center
    margin 4vh 0 0 0
    height 50px
    @media $IpadProPortrait
        margin-top 2vh
    &_1
        background-image url('../../assets/img/atom.svg')
        background-size 50px 50px
        background-position left center
        background-repeat no-repeat
        &:hover
            background-image url('../../assets/img/atom-hover.svg')
    &_2
        background-image url('../../assets/img/mechanizm.svg')
        background-size 50px 50px
        background-position left center
        background-repeat no-repeat
        &:hover
            background-image url('../../assets/img/mechanizm-hover.svg')
    &_3
        background-image url('../../assets/img/kit.svg')
        background-size 50px 50px
        background-position left center
        background-repeat no-repeat
        &:hover
            background-image url('../../assets/img/kit-hover.svg')
    &__caption
        font-family $base-font
        font-size 20px
        line-height 27px
        margin-left 20%
        color $base-color
        @media $IpadLandscape
            margin-left 30%
        @media $IpadProPortrait
            margin-left 30%
        ^[-1]:hover &
            color $hover-color
        