include ../globals/data

p(class="lazer3__text lazer3__text_no-hover")= lazer3.section4.tab1.text1
ul(class="lazer3__text lazer3__text_no-hover lazer3__text_list")
    each item in lazer3.section4.tab1.list
        li(class="lazer3__list-item lazer3__list-item_4")= item
        p(class="lazer3__text lazer3__text_no-hover")= lazer3.section4.tab1.text2