include ../globals/data

h5(class="lazer1__text lazer1__text_no-hover")= lazer1.section4.tab3.heading1
p(class="lazer1__text lazer1__text_no-hover")= lazer1.section4.tab3.text1
p(class="lazer1__text lazer1__text_no-hover")= lazer1.section4.tab3.text1_2

h5(class="lazer1__text lazer1__text_no-hover")= lazer1.section4.tab3.heading2
p(class="lazer1__text lazer1__text_no-hover")= lazer1.section4.tab3.text2
p(class="lazer1__text lazer1__text_no-hover")= lazer1.section4.tab3.text2_2

h5(class="lazer1__text lazer1__text_no-hover")= lazer1.section4.tab3.heading3
p(class="lazer1__text lazer1__text_no-hover")= lazer1.section4.tab3.text3