include ../globals/data

each item in optics.section4.tab1.list
    li(class="lazerOptics__list-item lazerOptics__list-item_4")
        a(class="lazerOptics__link" href="#")= item.link
        span(class="lazerOptics__text")= item.text