include ../globals/data

h5(class="lazer1__text lazer1__text_no-hover")= lazer1.section4.tab2.heading1
p(class="lazer1__text lazer1__text_no-hover")= lazer1.section4.tab2.text1

h5(class="lazer1__text lazer1__text_no-hover")= lazer1.section4.tab2.heading2
p(class="lazer1__text lazer1__text_no-hover")= lazer1.section4.tab2.text2

h5(class="lazer1__text lazer1__text_no-hover")= lazer1.section4.tab2.heading3
p(class="lazer1__text lazer1__text_no-hover")= lazer1.section4.tab2.text3