include ../globals/data

p(class="lazer1__text lazer1__text_no-hover")= lazer1.section4.tab1.text1
ul(class="lazer1__text lazer1__text_no-hover lazer1__text_list")
    each item in lazer1.section4.tab1.list
        li(class="lazer1__list-item lazer1__list-item_4")= item
        p(class="lazer1__text lazer1__text_no-hover")= lazer1.section4.tab1.text2