include ../globals/data

each item in stringray.section4.tab4.list
    li(class="stringray__list-item stringray__list-item_4")
        a(class="stringray__link" href="#")= item.link
        span(class="stringray__text")= item.text