include ../globals/data

div(class="tabs__section tabs__section_2")
    .tabs__inner
        .tabs__tag Product
        a.tabs__title(href=tabs.lazers.url1)
            p.tabs__model= tabs.lazers.model1
            p.tabs__name= tabs.lazers.name1
        p.tabs__description= tabs.lazers.description1
        a.tabs__read-more(href=tabs.lazers.url1) Read more
div(class="tabs__section tabs__section_3")
    .tabs__inner
        .tabs__tag Product
        a.tabs__title(href=tabs.lazers.url2)
            p.tabs__model= tabs.lazers.model2
            p.tabs__name= tabs.lazers.name2
        p.tabs__description= tabs.lazers.description2
        a.tabs__read-more(href=tabs.lazers.url2) Read more
div(class="tabs__section tabs__section_4")
    .tabs__inner
        .tabs__tag Product
        a.tabs__title(href=tabs.lazers.url3)
            p.tabs__model= tabs.lazers.model3
            p.tabs__name= tabs.lazers.name3
        p.tabs__description= tabs.lazers.description3
        a.tabs__read-more(href=tabs.lazers.url3) Read more