include ../globals/data

div(class="tabs__section tabs__section_2-2")
    .tabs__inner
        .tabs__tag Product
        a.tabs__title(href=tabs.software.url1)
            p.tabs__model= tabs.software.model1
            p.tabs__name= tabs.software.name2
        p(class="tabs__description tabs__description_grey")= tabs.software.description1
        a.tabs__read-more(href=tabs.software.url1) Read more
div(class="tabs__section tabs__section_2-3")
    .tabs__inner
        .tabs__tag Product
        a.tabs__title(href=tabs.software.url2)
            p.tabs__model= tabs.software.model2
            p.tabs__name= tabs.software.name2
        p(class="tabs__description tabs__description_grey")= tabs.software.description2
        a.tabs__read-more(href=tabs.software.url2) Read more
div(class="tabs__section tabs__section_2-4")
    .tabs__inner
        .tabs__tag Product
        a.tabs__title(href=tabs.software.url3)
            p.tabs__model= tabs.software.model3
            p.tabs__name= tabs.software.name3
        p(class="tabs__description tabs__description_grey")= tabs.software.description3
        a.tabs__read-more(href=tabs.software.url3) Read more