include ../globals/data

div(class="tabs__section tabs__section_3-2")
    .tabs__inner
        .tabs__tag Product
        a.tabs__title(href=tabs.optics.url1)
            p.tabs__model= tabs.optics.model1
            p.tabs__name= tabs.optics.name2
        p(class="tabs__description tabs__description_grey")= tabs.optics.description1
        a.tabs__read-more(href=tabs.optics.url1) Read more
div(class="tabs__section tabs__section_3-3")
    .tabs__inner
        .tabs__tag Product
        a.tabs__title(href=tabs.optics.url2)
            p.tabs__model= tabs.optics.model2
            p.tabs__name= tabs.optics.name2
        p(class="tabs__description tabs__description_grey")= tabs.optics.description2
        a.tabs__read-more(href=tabs.optics.url2) Read more