mixin mainSolution()
    +b.main-solution
        +e.half
            +e.section_1
                +e.inner_1
                    +e.title_1 The Most Advanced Solution
                    +e.UL.list
                        each item in mainContent.solution.list
                            +e.LI.list-item= item.listItem
            +e.section_2
                +e.inner
                    +e.tag Product
                    +e.A.title(href=mainContent.solution.lazers.url1)
                        +e.P.model= mainContent.solution.lazers.model1
                        +e.P.name= mainContent.solution.lazers.name1
                    +e.P.description= mainContent.solution.lazers.description1
                    +e.A.read-more(href=mainContent.solution.lazers.url1) Read more
        +e.half
            +e.section_3
                +e.inner
                    +e.tag Product
                    +e.A.title(href=mainContent.solution.lazers.url2)
                        +e.P.model= mainContent.solution.lazers.model2
                        +e.P.name= mainContent.solution.lazers.name2
                    +e.P.description= mainContent.solution.lazers.description2
                    +e.A.read-more(href=mainContent.solution.lazers.url2) Read more
            +e.section_4
                +e.inner
                    +e.tag Product
                    +e.A.title(href=mainContent.solution.lazers.url3)
                        +e.P.model= mainContent.solution.lazers.model3
                        +e.P.name= mainContent.solution.lazers.name3
                    +e.P.description= mainContent.solution.lazers.description3
                    +e.A.read-more(href=mainContent.solution.lazers.url3) Read more