/* main-solution */
.main-solution
    section-sizing()
    @media $IpadProPortrait
        flex-wrap wrap
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
        @media $IpadProPortrait
            width 100%
            height 50%
    &__section
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
        background-color rgba(255, 255, 255, 0.4)
        background-blend-mode overlay
        &:hover
            background-color transparent
            transition 0.7s ease-out
            .main-solution__description, .main-solution__read-more
                opacity 1
                transition 1s
            .main-solution__name
                color $hover-color
                transition 1s
            .main-solution__tag::before
                width 48%
                transition 0.5s
        &_1
            background-color transparent
            position relative
            &::before
                content ""
                position absolute
                height 3em
                width 3px
                top 25%
                left 0
                background-color $hover-color
            &::after
                content ""
                position absolute
                height 3em
                width 3px
                left 0
                bottom 27%
                background-color $hover-color
        &_2
            background-image url('../../assets/img/main-solution_2.png')
            background-size cover
            background-position center
        &_3
            background-image url('../../assets/img/main-solution_3.png')
            background-size cover
            background-position center
        &_4
            background-image url('../../assets/img/main-solution_4.png')
            background-size cover
            background-position center
    &__list
        padding-left 3vh
    &__list-item
        list-style-type none
        position relative
        padding-left 23px
        font-family $base-font
        font-size 20px
        line-height 30px
        color #707070
        &::before
            content ""
            left 0
            top 0.6em
            position absolute
            height 8px
            width 8px
            background-color $hover-color
    &__inner
        width 100%
        height 40vh
        display flex
        flex-direction column
        align-self flex-end
        background linear-gradient(to top, #36363a, transparent)
        @media $largeScreen
            height 45vh
        @media $laptop
            height 60vh
        @media $IpadLandscape
            height 75vh
        @media $IpadProPortrait
            height 30vh
        &_1
            height 70vh
            background none
            @media $laptop
                height 90vh
            @media $IpadLandscape
                height 90vh
            @media $IpadProPortrait
                height 37vh
    &__tag
        width 15%
        text-align center
        border-radius 10px
        font-family $alt-font
        font-size 12px
        color #fff
        background-color $hover-color
        line-height 14px
        padding 7px 25px
        margin-bottom 2vh
        margin-left 7.5%
        position relative
        &::before
            content ""
            position absolute
            height 100%
            width 3px
            top 0px
            left -30%
            background-color $hover-color
            @media $largeScreen
                left -28%
            @media $laptop
                left -25%
            @media $IpadProLandscape
                left -25%
            @media $IpadLandscape
                left -22%
            @media $IpadProPortrait
                left -30%
                
    &__title
        width 85%
        margin 0 auto 3vh auto
        font-family $alt-font
        font-size 30px
        line-height 36px
        font-weight 700
        &_1
            color $hover-color
            margin-bottom 2vh
    &__model
        color #1E1E1E
    &__name
        color #fff
    &__description
        font-family $base-font
        font-size 20px
        line-height 30px
        color #fff
        width 85%
        margin 0 auto 3vh auto
        opacity 0
    &__read-more
        font-family $alt-font
        font-size 19px
        font-weight 700
        line-height 32px
        color #fff
        width max-content
        align-self flex-start
        margin 0 auto 3vh 7.5%
        opacity 0
        position relative
        &::before
            content ""
            position absolute
            height 100%
            width 3px
            top 0px
            left -37%
            background-color $hover-color
            @media $largeScreen
                left -32%
            @media $laptop
                left -25%
            @media $IpadProLandscape
                left -25%
            @media $IpadLandscape
                left -20%
            @media $IpadProPortrait
                left -38%
            ^[-1]:hover::before
                width 20%
                transition 0.5s
        &:hover
            color $hover-color
            transition 0.5s