/* footer */
.footer
    section-sizing()
    height 400px
    justify-content space-between
    align-items flex-start
    background-color #202020
    color #fff
    @media $IpadProPortrait
        height 450px
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
    &__section
        width 50%
        height 100%
        display flex
        &_1, &_2, &_3
            border-right 1px solid rgba(255, 255, 255, 0.18)
        &_1
            display flex
            flex-direction column
        &_2, &_3, &_4
            flex-direction column
            align-items flex-start
    &__logo-wrapper
        display block
        width 100%
        margin 0 0 10px 5%
        text-decoration none
    &__logo
        width 85%
        display flex
        align-items center
        margin 0 0 10px 0
        padding-top 60px
    &__logo-image
        width 39px
        margin-right 2%
    &__logo-name
        font-family $base-font_semibold
        font-size 20px
        line-height 22px
        color #fff
    &__copyright
        font-family $alt-font
        font-size 12px
        line-height 14px
        margin-left 5%
    &__nav
        width 100%
        height 40px
        margin-bottom 10px
        display flex
        justify-content space-between
        align-items center
        padding-top 60px
    &-menu
        width 95%
        height 100%
        display flex
        align-items center
        margin-right 2%
        padding-left 0
        &__item
            height 100%
            list-style none
            display flex
            align-items center
            &:first-child
                margin-right 33%
                @media $IpadProPortrait
                    margin-right 10%
        &__link
            font-family $base-font_semibold
            font-size 16px
            line-height 21px
            color #fff
            text-decoration none
            &:hover
                color #FF0000
                transition 0.5s
    &__linkedin
            position relative
            right 50%
            border 2px solid transparent
            border-radius 5px
            &:hover
                border-color #0E76A8
                transition 0.3s
    &__products
        width 100%
        display flex
        justify-content space-between
    &-product
        display flex
        flex-direction column
        &__title
            font-family $base-font_semibold
            font-size 16px
            line-height 21px
            color #fff
            margin-top 10px
        &__items
            padding-left 0
            margin-top 30px
        &__item
            list-style-type none
            position relative
            margin-bottom 30px
            padding-left 15px
            &::before
                content ""
                left 0
                top 0.55em
                position absolute
                height 5px
                width 5px
                background-color $hover-color
        &__link
            font-family $base-font_semibold
            font-size 16px
            line-height 21px
            color #fff
            &:hover
                color #FF0000