mixin footerMenu(prefix, items, addUlClasses, addLiClasses)
    - ulClasses = [ prefix + "-menu"]
    - if (!!addUlClasses) ulClasses.push(addUlClasses);
    
    +b.UL(class=ulClasses)
        each item in items
            - liClasses = ["item"]
            - if (!!addLiClasses) liClasses.push(addLiClasses);
            
            +e.LI(class=liClasses)
                if item.titleModel
                    +e.A(href=item.url, title=item.titleName).link
                        +e.SPAN.link_bold= item.titleModel
                        | 
                        +e.SPAN.link_normal= item.titleName
                +e.A(href=item.url, title=item.title).link= item.title
                if item.badge
                    +e.SPAN.badge= item.badge
                if item.children
                    +headerMenu(prefix + "-sub", item.children)

mixin footer
    .section.fp-auto-height
        +b.FOOTER.footer
            +e.half
                +e.section_1
                    +e.A.logo-wrapper(href="/")
                        +e.FIGURE.logo
                            +e.IMG.logo-image(src="/assets/img/logo.svg" alt="")
                            +e.FIGCAPTION.logo-name #{logoName}
                    +e.P.copyright #{copyright}
                    +e.P.copyright_reserved All right reserved
                +e.section_2
                    +e.nav
                        +b.UL.footer-menu
                            +e.LI.item
                                +e.A(href=footer.footerMenuItems.url1, title=footer.footerMenuItems.title1).link= footer.footerMenuItems.title1
                            +e.LI.item
                                +e.A(href=footer.footerMenuItems.url2, title=footer.footerMenuItems.title2).link= footer.footerMenuItems.title2
                    +e.products
                        +b.footer-product
                            +e.H5.title #{footer.footerTitles.lasers}
                            +e.UL.items
                                each item in footer.footerProducts.lazers
                                    +e.LI.item
                                        +e.A.link(href=item.url)= item.name
            +e.half    
                +e.section_3
                    +e.nav
                        +b.UL.footer-menu
                            +e.LI.item
                                +e.A(href=footer.footerMenuItems.url3, title=footer.footerMenuItems.title3).link= footer.footerMenuItems.title3
                            +e.LI.item
                                +e.A(href=footer.footerMenuItems.url4, title=footer.footerMenuItems.title4).link= footer.footerMenuItems.title4
                    +e.products
                        +b.footer-product
                            +e.H5.title #{footer.footerTitles.software}
                            +e.UL.items
                                each item in footer.footerProducts.software
                                    +e.LI.item
                                        +e.A.link(href=item.url)= item.name
                +e.section_4
                    +e.nav
                        +b.UL.footer-menu
                            +e.LI.item
                                +e.A(href=footer.footerMenuItems.url5, title=footer.footerMenuItems.title5).link= footer.footerMenuItems.title5
                            +e.LI.item
                                +e.A(href=footer.footerMenuItems.url6, title=footer.footerMenuItems.title6).link= footer.footerMenuItems.title6
                        a(href="#")
                            +e.IMG.linkedin(src="/assets/img/linkedin.png" alt="")
                    +e.products
                        +b.footer-product
                            +e.H5.title #{footer.footerTitles.optics}
                            +e.UL.items
                                each item in footer.footerProducts.optics
                                    +e.LI.item
                                        +e.A.link(href=item.url)= item.name
