mixin lazer2()
    +b.lazer2
        +e.half_1
            +b.viewport
                +e.slider-block
                    +e.UL.slider
                        each item in lazer2.half1.slider
                            +e.LI.slide
                                +e.IMG.image(src= item.src)
                    +e.arrows
                        +e.arrow_left
                        +e.arrow_right
        +e.half_2
            +e.section_3
                +e.inner
                    +e.text-block_1
                        +e.P.title_red= lazer2.section3.title.model
                        +e.P.title= lazer2.section3.title.name
                    +e.UL.text-block_list
                        +e.LI.list-item_3._link1= lazer2.section3.list.link1
                        +e.LI.list-item_3._link2= lazer2.section3.list.link2
                        +e.LI.list-item_3._link3= lazer2.section3.list.link3
                    +e.downloads
                        each item in lazer2.section3.downloads
                            +e.download-item
                                +e.SPAN.download-name!= item.name
                                +e.A(href=item.url).button= item.button
                        
            +e.section_4
                +e.inner_4
                    +e.text-block_1._grey
                    +e.text-block_4
                        +e.P.text_no-hover= lazer2.section4.tab1.text1
                        