/* lazer2-specification */
.lazer2-specification
    section-sizing()
    background-color #FCFCFC
    @media $IpadProPortrait
        flex-wrap wrap
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
        @media $IpadProPortrait
            width 100%
            height 50vh
        &_2
            display flex
            flex-direction column
            flex-wrap wrap
            position relative
            
    &__inner
        width 100%
        height 90%
        display flex
        flex-direction column
        justify-content space-between
        @media $laptop
            height 95%
        @media $IpadProPortrait
            height 95%
    &__title
        font-family $alt-font
        font-weight 700
        font-size 30px
        line-height 36px
        color $hover-color
        padding-left 5%
        position relative
        &::before
            content ""
            position absolute
            height 1.2em
            width 3px
            top 0
            left 0;
            background-color $hover-color
    &__pennant
        position absolute
        left 0
        top 10%
        background-color $hover-color
        color #fff
        font-family $alt-font
        font-weight 700
        font-size 30px
        line-height 36px
        padding 10px 10% 10px 5%
    &__gallery-item
        height 25%
        width 20%
        &:hover
            background-color rgba(0, 0, 0, 0.37)
            cursor pointer
            transition 0.5s
            background-blend-mode overlay
        &_1
            background-image url('../../assets/img/gallery1.jpg')
            background-size cover
            background-position center
        &_2
            background-image url('../../assets/img/gallery2.jpg')
            background-size cover
            background-position center
        &_3
            background-image url('../../assets/img/gallery3.jpg')
            background-size cover
            background-position center
        &_4
            background-image url('../../assets/img/gallery4.jpg')
            background-size cover
            background-position center
        &_5
            background-image url('../../assets/img/gallery5.jpg')
            background-size cover
            background-position center
.gallery-item
    &_active
        height 100%
        width 80%
        order -1