mixin lazer2-specification()
    +b.lazer2-specification
        +e.half_1
            +e.inner
                +e.H2.title= lazer2Specification.half1.title
                +b.table
                    +e.heading
                        +e.H2.title_1= lazer2Specification.half1.table.heading1
                        +e.H2.title_2= lazer2Specification.half1.table.heading2
                    each item in lazer2Specification.half1.table.content
                        +e.row
                            if item.description2
                                +e.cell_1= item.item
                                +e.cell_2= item.description
                                +e.cell_3= item.description2
                            else
                                +e.cell_1= item.item
                                +e.cell_2._single= item.description
        +e.half_2.gallery
            +e.gallery-item_1.gallery-item_active
            +e.gallery-item_2.gallery-item
            +e.gallery-item_3.gallery-item
            +e.gallery-item_4.gallery-item
            +e.gallery-item_5.gallery-item
            +e.H2.pennant= lazer2Specification.half2.pennant
    +b.gallery-viewport
        +e.slider-block
            +e.UL.slider
                each item in lazer2Specification.half2.gallery
                    +e.LI.slide
                        +e.IMG.image(src= item.src)
            +e.arrow_left <
            +e.arrow_right >
            +e.close x