extends ../../layouts/root

block head_title
    title #{logoName}
block header
    +header()
block content
    .section
        +testimonialsPage()
    .section
        +testimonialsPage2()
block footer
    +footer()