mixin mainBanner()
    +b.main-banner
        +e.half
            +e.section_1
                +e.inner
                    +e.tag_1 Product
                    +e.A.title(href=mainContent.banner.url1)= mainContent.banner.section1
            +e.section_2
                +e.inner
                    +e.tag_2 solution
                    +e.A.title(href=mainContent.banner.url2)= mainContent.banner.section2
        +e.half
            +e.section_3
                +e.inner
                    +e.tag_3 solution
                    +e.A.title(href=mainContent.banner.url3)= mainContent.banner.section3
            +e.section_4
                +e.inner
                    +e.tag_4 Download
                    +e.A.title(href=mainContent.banner.url4)= mainContent.banner.section4