/* main-banner */
.main-banner
    section-sizing()
    background-image url(../../assets/img/main-banner-bg.jpg)
    background-size cover
    background-position 40% center
    @media $IpadProPortrait
        flex-wrap wrap
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items center
        @media $IpadProPortrait
            width 100%
            height 50%
    &__section
        width 50%
        height 100%
        display flex
        flex-direction column
        align-items center
        perspective 500px
        overflow hidden
        transform rotate3d(0,45,0,90deg)
        animation mainRotation 2s ease
        animation-fill-mode forwards
        position relative
        &:hover .main-banner__title
            color $hover-color
            transition 0.5s
        &::before
            content ""
            position absolute
            height 50px
            width 2px
            background-color $hover-color
            left 0
            top -50px
            ^[-1]:hover::before
                animation lazerRain 2s ease-in-out
                animation-iteration-count: infinite
                animation-fill-mode backwards
        &_1, &_2, &_3
            border-right 1px solid rgba(255, 255, 255, 0.18)
        &_1
            animation-delay 1s
        &_2
            animation-delay 1.5s
        &_3
            animation-delay 2s
        &_4
            animation-delay 2.5s
    &__inner
        width 100%
        height 25vh
        display flex
        flex-direction column
        margin-top 75vh
        background linear-gradient(to top, #36363A, transparent)
        @media $laptop
            height 40vh
            margin-top 60vh
        @media $IpadProLandscape
            height 30vh
            margin-top 70vh
        @media $IpadLandscape
            height 40vh
            margin-top 60vh
        @media $IpadProPortrait
            margin-top 35vh
            height 15vh
    &__tag
        width 15%
        text-align center
        margin-left 10%
        margin-bottom 25px
        padding 5px 15px
        border-radius 10px
        color #fff
        font-family $alt-font
        color #fff
        font-size 12px
        line-height 14.4px
        background-color $base-color
        &_4
            background-color #1E1E1E
        &_1
            background-color $hover-color
            
    &__title
        width 80%
        margin 0 auto
        font-family $alt-font
        color #fff
        font-size 30px
        line-height 36px
        