/* tabs */
.tabs
    section-sizing()
    @media $IpadProPortrait
        flex-wrap wrap
    &__section
        width 25vw
        height 100%
        display flex
        justify-content center
        align-items center
        background-color rgba(255, 255, 255, 0.4)
        background-blend-mode overlay
        &_2, &_3, &_4
            width calc(100%/3)
        &_1
            background-color #FCFCFC
            @media $IpadProPortrait
                width 100%
                height 20vh
        &:hover
            background-color transparent
            transition 0.7s ease-out
            .tabs__description, .tabs__read-more
                opacity 1
                transition 1s
            .tabs__description_grey
                color #fff
                transition 0.5s
            .tabs__name
                color $hover-color
                transition 1s
            .tabs__tag::before
                width 48%
                transition 0.5s
        &_2
            background-image url('../../assets/img/main-solution_2.png')
            background-size cover
            background-position center
        &_3
            background-image url('../../assets/img/main-solution_3.png')
            background-size cover
            background-position center
        &_4
            background-image url('../../assets/img/main-solution_4.png')
            background-size cover
            background-position center
        &_2-2
            background-image url('../../assets/img/software_tab1.jpg')
            background-size cover
            background-position center
            width calc(100%/3)
        &_2-3
            background-image url('../../assets/img/software_tab2.jpg')
            background-size cover
            background-position center
            width calc(100%/3)
        &_2-4
            background-image url('../../assets/img/software_tab3.jpg')
            background-size cover
            background-position center
            width calc(100%/3)
        &_3-2
            background-image url('../../assets/img/optics_tab1.jpg')
            background-size cover
            background-position center
            width calc(100%/3)
        &_3-3
            background-image url('../../assets/img/optics_tab2.jpg')
            background-size cover
            background-position center
            width calc(100%/3)
    
    &__list
        padding-left 3vh
        list-style none
        height 20vh
        display flex
        flex-direction column
        justify-content space-between
        @media $laptop
            height 40%
        @media $IpadProLandscape
            height 35%
        @media $IpadLandscape
            height 40%
        @media $IpadProPortrait
            height 80%
    &__list-item
        position relative
        font-family $base-font
        font-size 20px
        line-height 30px
        color #707070
    &__list-link
        font-family $alt-font
        font-size 26px
        line-height 30px
        font-weight 700
        cursor pointer
        color $base-color
        @media $laptop
            font-size 24px
        @media $IpadLandscape
            font-size 22px
        &::before
            content ""
            position absolute
            height 1.5em
            width 3px
            top 0px
            left -6.5%
            background-color $hover-color
            @media $laptop
                left -6%
                height 1.2em
            @media $IpadProLandscape
                left -10%
                height 1.2em
            @media $IpadLandscape
                left -10%
                height 1.2em
            @media $IpadProPortrait
                left -4%
            ^[-1]:hover::before
                width 5%
                transition 0.5s
                @media $IpadProPortrait
                    width 2%
        &:hover
            color $hover-color
            transition 0.5s
    &__inner
        width 100%
        height 40%
        display flex
        flex-direction column
        align-self flex-end
        background linear-gradient(to top, #36363a, transparent)
        @media $laptop
            height 60%
        @media $IpadLandscape
            height 70%
        &_1
            height 90%
            background none
            @media $IpadProPortrait
                height 85%
    &__tag
        width 15%
        border-radius 10px
        font-family $alt-font
        font-size 12px
        color #fff
        background-color $hover-color
        line-height 14px
        padding 7px 25px
        margin-bottom 2vh
        margin-left 7.5%
        position relative
        &::before
            content ""
            position absolute
            height 100%
            width 3px
            top 0px
            left -29%
            background-color $hover-color
            @media $largeScreen
                left -28%
            @media $laptop
                left -25%
            @media $IpadProLandscape
                left -25%
            @media $IpadLandscape
                left -22%
            @media $IpadProPortrait
                left -25%
                
    &__title
        width 85%
        margin 0 auto 3vh auto
        font-family $alt-font
        font-size 30px
        line-height 36px
        font-weight 700
        &_1
            color $hover-color
            margin-bottom 2vh
    &__model
        color #1E1E1E
    &__name
        color #fff
    &__description
        font-family $base-font
        font-size 20px
        line-height 30px
        color #fff
        width 85%
        margin 0 auto 3vh auto
        opacity 0
    &__description_grey
        font-family $alt-font
        font-size 30px
        color $base-color
        opacity 1
    &__read-more
        font-family $alt-font
        font-size 19px
        font-weight 700
        line-height 32px
        color #fff
        width max-content
        align-self flex-start
        margin 0 auto 3vh 7.5%
        opacity 0
        position relative
        &::before
            content ""
            position absolute
            height 100%
            width 3px
            top 0px
            left -37%
            background-color $hover-color
            @media $largeScreen
                left -32%
            @media $laptop
                left -25%
            @media $IpadProLandscape
                left -25%
            @media $IpadLandscape
                left -20%
            @media $IpadProPortrait
                left -25%
            ^[-1]:hover::before
                width 20%
                transition 0.5s
        &:hover
            color $hover-color
            transition 0.5s
.tabs-wrapper
    height 100vh
    width 75%
    @media $IpadProPortrait
        width 100%
        height 80vh
.tabs-container
    width 100%
    height 100%
    display flex