mixin tabs()
    +b.tabs
        +e.section_1
            +e.inner_1
                +e.UL.list
                    +e.LI.list-item
                        +e.P.list-link_1= tabs.tabs.title1
                    +e.LI.list-item
                        +e.P.list-link_2= tabs.tabs.title2
                    +e.LI.list-item
                        +e.P.list-link_3= tabs.tabs.title3
        .tabs-wrapper
            .tabs-container
                +e.section_2
                    +e.inner
                        +e.tag Product
                        +e.A.title(href=tabs.lazers.url1)
                            +e.P.model= tabs.lazers.model1
                            +e.P.name= tabs.lazers.name1
                        +e.P.description= tabs.lazers.description1
                        +e.A.read-more(href=tabs.lazers.url1) Read more
                +e.section_3
                    +e.inner
                        +e.tag Product
                        +e.A.title(href=tabs.lazers.url2)
                            +e.P.model= tabs.lazers.model2
                            +e.P.name= tabs.lazers.name2
                        +e.P.description= tabs.lazers.description2
                        +e.A.read-more(href=tabs.lazers.url2) Read more
                +e.section_4
                    +e.inner
                        +e.tag Product
                        +e.A.title(href=tabs.lazers.url3)
                            +e.P.model= tabs.lazers.model3
                            +e.P.name= tabs.lazers.name3
                        +e.P.description= tabs.lazers.description3
                        +e.A.read-more(href=tabs.lazers.url3) Read more