mixin testimonialsPage()
    +b.testimonialsPage
        +e.half_1
            +e.section_1
                
            +e.section_2
                +b.testimonials
                    +e.inner_content-wrapper
                        +e.content
                            +e.P.title= testimonialsPage.testimonial1.title
                            +e.P.author= testimonialsPage.testimonial1.author
                            +e.P.rank= testimonialsPage.testimonial1.rank
                            +e.P.text= testimonialsPage.testimonial1.text
                    +e.inner_nav
                        +e.A.read-more(href="/pages/testimonials/testimonials.html")= mainContent.news.section1.button
        +e.half_2
            +e.section_3
               
            +e.section_4
                +b.testimonials
                    +e.inner_content-wrapper
                        +e.content
                            +e.P.title= testimonialsPage.testimonial2.title
                            +e.P.author= testimonialsPage.testimonial2.author
                            +e.P.rank= testimonialsPage.testimonial2.rank
                            +e.P.text= testimonialsPage.testimonial2.text
                    +e.inner_nav
                        +e.A.read-more(href="/pages/testimonials/testimonials.html")= mainContent.news.section1.button
mixin testimonialsPage2()
    +b.testimonialsPage
        +e.half_3
            +e.section_1
                
            +e.section_2
                +b.testimonials
                    +e.inner_content-wrapper
                        +e.content
                            +e.P.title= testimonialsPage.testimonial3.title
                            +e.P.author= testimonialsPage.testimonial3.author
                            +e.P.rank= testimonialsPage.testimonial3.rank
                            +e.P.text= testimonialsPage.testimonial3.text
                    +e.inner_nav
                        +e.A.read-more(href="/pages/testimonials/testimonials.html")= mainContent.news.section1.button
        +e.half_4
            +e.section_3
               
            +e.section_4
                +b.testimonials
                    +e.inner_content-wrapper
                        +e.content
                            +e.P.title= testimonialsPage.testimonial4.title
                            +e.P.author= testimonialsPage.testimonial4.author
                            +e.P.rank= testimonialsPage.testimonial4.rank
                            +e.P.text= testimonialsPage.testimonial4.text
                    +e.inner_nav
                        +e.A.read-more(href="/pages/testimonials/testimonials.html")= mainContent.news.section1.button