/* testimonials-page */
.testimonialsPage
    section-sizing()
    background-color #FCFCFC
    @media $IpadProPortrait
        flex-wrap wrap
    @media $IpadLandscape
        flex-wrap wrap
    &__half
        width 50%
        height 100%
        display flex
        justify-content center
        align-items flex-end
        @media $IpadProPortrait
            width 100%
            height 50vh
        @media $IpadLandscape
            width 100%
            height 50vh
        &_1
            background-image url('../../assets/img/testimonial1.jpg')
            background-size cover
            background-repeat no-repeat
            background-position center
        &_2
            background-image url('../../assets/img/testimonial2.jpg')
            background-size cover
            background-repeat no-repeat
            background-position center
        &_3
            background-image url('../../assets/img/testimonial3.jpg')
            background-size cover
            background-repeat no-repeat
            background-position center
        &_4
            background-image url('../../assets/img/testimonial4.jpg')
            background-size cover
            background-repeat no-repeat
            background-position center
    &__section
        width 50%
        height 100%
        display flex
        flex-direction column
        justify-content flex-end
        align-items center
        position relative
        &_1, &_2, &_3
            border-right 1px solid rgba(30, 30, 30, 0.4)
        @media $IpadLandscape
            &_1
                justify-content flex-end
.testimonials
    width 100%
    height 70vh
    background-color rgba(252, 252, 252, 0.92)
    overflow hidden
    position relative
    @media $largeScreen
        height 77vh
    @media $laptop
        height 90vh
    @media $IpadProLandscape
        height 87vh
    &::before
        content ""
        position absolute
        height 2.5em
        width 3px
        top 14%
        left 0
        background-color $hover-color
        @media $largeScreen
            top 14%
        @media $laptop
            top 13%
        @media $IpadProLandscape
            top 12%
        @media $IpadProPortrait
            top 19%
    &__inner
        width 85%
        margin 0 auto 3vh auto
        @media $IpadProPortrait
            margin-bottom 1vh
        &_content-wrapper
            display flex
            position relative
            width 100%
            transition 1s
            margin-top 5vh
            
    &__content
        margin 0 auto
        width 85%
    &__section-title
        font-family $alt-font
        font-weight 700
        font-size 30px
        line-height 36px
        color $base-color
        @media $laptop
            font-size 24px
    &__title
        font-family $base-font_semibold
        font-size 30px
        line-height 30px
        color #FF0000
        @media $laptop
            font-size 24px
    &__author
        font-family $base-font_semibold
        font-size 24px
        line-height 30px
        color #1E1E1E
        margin-top 2vh
        @media $laptop
            font-size 20px
    &__rank
        font-family $base-font
        font-size 24px
        line-height 30px
        color #1E1E1E
        margin-bottom 2vh
        @media $laptop
            font-size 20px
    &__text
        font-family $base-font
        font-size 20px
        color #2A2A2A
        margin 2vh 0
        @media $laptop
            font-size 18px
    &__inner_nav
        display flex
        justify-content space-between
        align-items center
    &__read-more
        font-family $alt-font
        font-size 19px
        line-height 32px
        color #FF0000
        position relative
        &::before
            content ""
            position absolute
            height 100%
            width 3px
            top 0
            left -38%
            background-color $hover-color
            @media $largeScreen
                left -33%
            @media $laptop
                left -27%
            @media $IpadProLandscape
                left -27%
            ^[-1]:hover::before
                width 34%
                transition 0.5s
                @media $largeScreen
                    width 31%
                @media $laptop
                    width 24%
                @media $IpadProLandscape
                    width 24%
        &:hover
            text-decoration underline
.breadcrumbs
    &_news
        position absolute
        top 6vh
        left 0