include header/header
include main-banner/main-banner
include main-about/main-about
include main-solution/main-solution
include main-action/main-action
include main-news/main-news
include main-seo/main-seo
include footer/footer
include about-page-about/about-page-about
include solution-page-solution/solution-page-solution
include action-block/action-block
include news-page/news-page-news
include news-full/news-full
include testimonials-page/testimonials-page
include downloads-page/downloads-page
include tabs/tabs
include contact/contact
include lazerOptics/lazerOptics
include stringray/stringray
include optichamber_2/optichamber_2
include optichamber/optichamber
include laskin/laskin
include lazer1/lazer1
include lazer1/specification
include lazer2/lazer2
include lazer2/specification
include lazer3/lazer3
include lazer3/specification
include FAQ/FAQ