/* keyframes */
@keyframes slideToogleMenu
    from
        height 0
    to
        height 25%
     

@keyframes newsSlideLeft
    from 
        left $viewPos
    to
        left calc($viewPos - 100)

@keyframes newsSlideRight
    from
        left $viewPos
    to 
        left 100%
                      
@keyframes mainRotation
    from 
        transform rotate3d(0,45,0,90deg)
    to
        transform rotate3d(0,45,0,0deg)
        
@keyframes mainRotationHover
    from 
        transform rotate3d(0,45,0,0deg)
    50%
        transform rotate3d(0,45,0,30deg)
    to
        transform rotate3d(0,45,0,0deg)
        
        
@keyframes lazerRain
    from
        top -20px
    to 
        top 120%
            
@keyframes runnyButton
    from
        left 0
        top 0
        height 20px
    10%
        left 0
        top 100%
        height 2px
    50%
        left 80%
        top 100%
        transform rotate(-90deg)
    to
        left 100%
        top 0
        