/* normalize */
@font-face
    font-family SegoeUI
    src local("Segoe UI"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype")
    font-weight 400
@font-face
    font-family SegoeUI
    src local("Segoe UI Bold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype")
    font-weight 700
@font-face
    font-family SegoeUI
    src local("Segoe UI Semibold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype")
    font-weight 600
html
    line-height 1.15
    -webkit-text-size-adjust: 100%;
body
    margin 0
    padding 0
a
    text-decoration none
p
    margin 0
section
    position relative
/* change scrollbar */
::-webkit-scrollbar-button
    width 5px
    height 0px

/* Цвет дорожки, по которой двигается бегунок прокрутки. */
::-webkit-scrollbar-track
    background-color $base-color

/* Цвет бегунка полосы, а так же его закругление. */
::-webkit-scrollbar-thumb
    border-radius 0px
    background-color $hover-color

/* Цвет бегунка при наведении на него курсора. */
::-webkit-scrollbar-thumb:hover
    background-color $hover-color

/* Основная ширина полосы прокрутки. */
::-webkit-resizer
    width 3px
    height 0px
::-webkit-scrollbar
    width 3px
    height 0
    
    
.bold
    font-weight bold