extends layouts/root

block head_title
    title #{logoName}
block header
        +header()
block content
        .section
            +mainBanner()
        .section
            +mainAbout()
        .section
            +mainSolution()
        .section
            +mainAction()
        .section
            +mainNews()
        .section
            +mainSeo()
block footer
        +footer()
