mixin stringray()
    +b.stringray
        +e.half_1
            +b.viewport
                +e.slider-block
                    +e.UL.slider
                        each item in stringray.half1.slider
                            +e.LI.slide
                                +e.IMG.image(src= item.src)
                    +e.arrows
                        +e.arrow_left
                        +e.arrow_right
        +e.half_2
            +e.section_3
                +e.inner
                    +e.text-block_1
                        +e.P.title= stringray.section3.title
                        +e.P.description= stringray.section3.description
                    +e.UL.text-block_list
                        +e.LI.list-item_3._link1= stringray.section3.list.item1
                        +e.LI.list-item_3._link2= stringray.section3.list.item2
                        +e.LI.list-item_3._link3= stringray.section3.list.item3
                        +e.LI.list-item_3._link4= stringray.section3.list.item4
            +e.section_4
                +e.inner_4
                    +e.text-block_1
                        +e.P.title_grey= stringray.section4.title
                    +e.UL.text-block_4
                        each item in stringray.section4.tab1.list
                            +e.LI.list-item_4
                                +e.A(href="#").link= item.link
                                +e.SPAN.text= item.text