include ../globals/data
include ../../node_modules/bemto.pug/bemto
include ../blocks/all

- 
    set_bemto_settings({
        prefix: '',
        element: '__',
        modifier: '_'
    })
    
doctype html
html
    head
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.1/fullpage.min.css")
        link(rel="stylesheet" href="/assets/app.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.1/fullpage.min.css.map")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.1/fullpage.min.js")
        
        block head_title
    body
        #fullpage
            block header
            block content

            block footer
        script(src="/assets/app.js")