/* header */
.header
    section-sizing()
    height 80px
    display flex
    justify-content space-between
    align-items center
    &__logo-wrapper
        display block
        width 27%
        margin-left 3%
        text-decoration none
    &__logo
        width 85%
        display flex
        align-items center
        margin-left 0
        &-image
            margin-right 2%
            width 39px
        &-name
            font-family $base-font_semibold
            color #171717
            font-size 20px
            line-height 22px
    &__right
        width 60%
        height 100%
        display flex
        justify-content space-between
        align-items center
        margin-right 3%
        @media $IpadProPortrait
            width 70%
    &-menu
        width 100%
        height 100%
        display flex
        justify-content space-between
        align-items center
        margin-right 2%
        &__item
            height 100%
            list-style none
            position relative
            display flex
            align-items center
            &:before
                content ""
                position absolute
                bottom 0
                border-left 1px solid $hover-color
            &:after
                content ""
                position absolute
                top 0
                border-left 1px solid $hover-color
            &:hover:before
                animation slideToogleMenu 0.5s ease
                animation-fill-mode forwards
            &:hover:after
                animation slideToogleMenu 0.5s ease
                animation-fill-mode forwards
        &__link
            font-family $base-font_semibold
            font-size 16px
            line-height 21px
            color $base-color
            text-decoration none
            ^[-1]__item:hover &
                color $hover-color
                transition 0.5s
        & > li:hover > ul
            opacity 1
            z-index 10
            transition 1s
    &-sub-menu
        opacity 0
        position absolute
        list-style none
        left 0
        top 100%
        width 340%
        padding 10px 20px
        border 1px solid $hover-color
        background-color #fff
        z-index -1
        &__item
            padding 10px 0
        &__link
            color $base-color
            text-decoration none
            &_bold
                color #1e1e1e
            ^[-1]__item:hover &
                color $hover-color
                transition 0.5s
    &__linkedin
        border 2px solid transparent
        border-radius 5px
        &:hover
            border-color #0E76A8
            transition 0.3s